#section_six {
  background: $color_light_ten;
  text-align: center;
  padding: 45px 0px 0;
  @include mq(small_tablet) {
    padding: 58px 50px 45px;
  }
}

span#sec_six_title {
  display: inline-block;
  @include type(
    (
      size: 15px,
      height: 18px,
      spacing: 1.5px,
      family: $primaryfont,
      weight: 800,
      transform: uppercase,
    )
  );
  &:after {
    margin-top: 6px;
    background: $color_bright_one;
    @include box(100%, 4px);
    @include contentdisplay();
  }
}

#sec_six_slider {
  max-width: 800px;
  @include margin_lr;
  @include mq(small_tablet) {
    margin-top: 36px;
  }
  .slick-track {
    padding: 5px 0 15px;
  }
  .slick-slide {
    margin: 0 5px;
    @include mq(small_tablet) {
      margin: 0 13px;
      padding: 0;
      box-shadow: 0 3px 10px #00000029;
      background: $color_light_one;
    }
  }
  .slick-list {
    margin: 0 -5px;
    @include mq(small_tablet) {
      margin: 0 -13px;
    }
  }
  .slick-dots {
    position: relative;
    margin-top: -23px;
    bottom: 10px;
    @include mq(small_tablet) {
      margin-top: 0;
      bottom: 0px;
    }
    li.slick-active {
      button {
        &:before {
          color: $color_bright_three;
        }
      }
    }
    li:hover {
      button {
        &:before {
          color: $color_bright_three;
        }
      }
    }
    li {
      margin: 0 2px;
      width: 15px;
      button {
        width: 15px;
        &:before {
          width: 15px;
          opacity: 1;
          color: $color_light_nine;
          font-size: 28px;
          transition: all 200ms ease-in-out;
        }
      }
    }
  }
}

.sec_six_slide {
  padding: 24px 30px 65px;
  @include mq(small_tablet) {
    padding: 0;
    background: transparent;
    box-shadow: none;
  }
  .sec_six_slide_inner {
    padding: 52px 30px 35px;
    box-shadow: 20px 20px 50px #00000029;
    text-align: left;
    background: $color_light_one;
    position: relative;
    max-width: 360px;
    @include margin_lr;
    @include mq(small_tablet) {
      box-shadow: none;
      max-width: 100%;
      padding: 52px 30px 60px;
      background: transparent;
    }
    img.stars {
      max-width: 117px;
    }
    img.sec_six_sm {
      @include abs(14px, -3px, null, null);
      @include mq(small_tablet) {
        top: 22px;
      }
    }
    .sec_six_intro {
      margin-top: 28px;
      @include type(
        (
          size: 18px,
          height: 22px,
          spacing: 0,
          family: $primaryfont,
          weight: 700,
        )
      );
      @include mq(small_tablet) {
        margin-top: 35px;
      }
    }
    .sec_six_descrip {
      @include type(
        (
          size: 15px,
          height: 20px,
          spacing: 0,
          family: $thirdfont,
        )
      );
    }
    p {
      margin-bottom: 12px;
    }
    span.sec_six_name {
      display: block;
      padding-top: 10px;
      @include type(
        (
          size: 13px,
          spacing: 1.95px,
          family: $primaryfont,
          weight: 800,
          transform: uppercase,
        )
      );
      &:before {
        background: $color_bright_one;
        border-radius: 50%;
        vertical-align: top;
        margin-top: 4px;
        margin-right: 7px;
        @include box(4px);
        @include contentdisplay(inline-block);
      }
    }
  }
}

img#sec_six_bg {
  display: none;
}
