#section_six {
  background: $color_light_ten;
  text-align: center;
  padding: 45px 0px 0;
  @include mq(small_tablet) {
    padding: 58px 50px 45px;
    position: relative;
    z-index: 1;
  }
  @include mq(small_laptop) {
    background: transparent;
    padding: 0;
  }
  &:after {
    @include mq(small_laptop) {
      background: $color_grad_one;
      @include abs(null, 0, 0, null, -1);
      @include box(100%, calc(100% - 45px));
      @include contentdisplay();
    }
    @include mq(large_laptop) {
      @include box(100%, calc(100% - 75px));
    }
    @include mq(small_monitor) {
      @include box(92%, calc(100% - 95px));
    }
  }
}

#sec_six_image {
  @include abs(0, null, null, 0);
  @include mq(small_laptop) {
    max-width: 86%;
  }

  @include mq(small_monitor) {
    // max-width: 100%;
  }
}

img#sec_six_bg {
  display: none;
  @include mq(small_laptop) {
    display: block;
    margin: 0 0 0 -7px;
    @include image();
  }
}

#sec_six_inner {
  position: relative;
  z-index: 1;
  @include mq(small_laptop) {
    padding: 72px 0 35px;
  }
  @include mq(large_laptop) {
    padding: 77px 0 35px;
  }
  @include mq(small_monitor) {
    padding: 143px 0 110px;
  }
}

span#sec_six_title {
  display: inline-block;
  @include type(
    (
      size: 15px,
      height: 18px,
      spacing: 1.5px,
      family: $primaryfont,
      weight: 800,
      transform: uppercase,
    )
  );
  @include mq(small_laptop) {
    color: $color_light_one;
    text-align: left;
    letter-spacing: 3.75px;
    @include flex(null, center);
  }
  @include mq(small_laptop) {
    font-size: 16px;
  }
  @include mq(small_monitor) {
    font-size: 18px;
    letter-spacing: 4.5px;
  }
  &:before {
    @include mq(small_laptop) {
      width: 70px;
      height: 2px;
      flex-shrink: 0;
      margin-right: 12px;
      background: $color_bright_one;
      @include contentdisplay();

      width: 175px;
      margin-right: 16px;
    }
    @include mq(small_monitor) {
      width: 250px;
      margin-right: 20px;
    }
    @include mq(small_monitor) {
      width: 306px;
    }
  }
  &:after {
    margin-top: 6px;
    background: $color_bright_one;
    @include box(100%, 4px);
    @include contentdisplay();
    @include mq(small_laptop) {
      display: none;
    }
  }
}

#sec_six_slider {
  max-width: 800px;
  @include margin_lr;
  @include mq(small_tablet) {
    margin-top: 36px;
  }
  @include mq(small_laptop) {
    max-width: 100%;
    padding: 0 52px;
  }
  @include mq(large_laptop) {
    margin-top: 44px;
    max-width: 1325px;
  }
  @include mq(small_monitor) {
    max-width: 1700px;
    margin-top: 74px;
    padding-left: 219px;
    position: relative;
  }
  .slick-track {
    padding: 5px 0 15px;
  }
  .slick-slide {
    margin: 0 5px;
    @include mq(small_tablet) {
      margin: 0 13px;
      padding: 0;
      box-shadow: 0 3px 10px #00000029;
      background: $color_light_one;
    }
    @include mq(small_laptop) {
      margin: 0 10px;
    }
    @include mq(small_monitor) {
      margin: 0 15px;
    }
  }
  .slick-list {
    margin: 0 -5px;
    @include mq(small_tablet) {
      margin: 0 -13px;
    }
    @include mq(small_laptop) {
      margin: 0 -10px;
    }
    @include mq(small_monitor) {
      margin: 0 -15px;
    }
  }
  .slick-dots {
    position: relative;
    margin-top: -23px;
    bottom: 20px;
    @include mq(small_tablet) {
      margin-top: 0;
      bottom: 0px;
    }
    li.slick-active {
      button {
        &:before {
          color: $color_bright_three;
          @include mq(small_laptop) {
            color: $color_bright_one;
          }
        }
      }
    }
    li:hover {
      button {
        &:before {
          color: $color_bright_three;
          @include mq(small_laptop) {
            color: $color_bright_one;
          }
        }
      }
    }
    li {
      margin: 0 2px;
      width: 15px;
      button {
        width: 15px;
        &:before {
          width: 15px;
          opacity: 1;
          color: $color_light_nine;
          font-size: 28px;
          transition: all 200ms ease-in-out;
          @include mq(small_laptop) {
            color: $color_light_one;
          }
        }
      }
    }
  }
}

.sec_six_slide {
  padding: 24px 30px 65px;
  @include mq(small_tablet) {
    padding: 0;
    background: transparent;
    box-shadow: none;
  }
  .sec_six_slide_inner {
    padding: 52px 30px 35px;
    box-shadow: 20px 20px 50px #00000029;
    text-align: left;
    background: $color_light_one;
    position: relative;
    max-width: 360px;
    @include margin_lr;
    @include mq(small_tablet) {
      box-shadow: none;
      max-width: 100%;
      padding: 52px 30px 60px;
      background: transparent;
    }
    @include mq(small_laptop) {
      padding: 56px 45px 60px;
    }
    @include mq(large_laptop) {
      padding: 64px 45px 60px;
    }
    @include mq(small_monitor) {
      padding: 64px 45px 73px;
    }
    img.stars {
      max-width: 117px;
      @include mq(small_laptop) {
        max-width: 153px;
      }
      @include mq(small_monitor) {
        max-width: 170px;
      }
    }
    img.sec_six_sm {
      @include abs(14px, -3px, null, null);
      @include mq(small_tablet) {
        top: 22px;
      }
      @include mq(large_laptop) {
        top: 37px;
        right: -6px;
      }
    }
    .sec_six_intro {
      margin-top: 28px;
      @include type(
        (
          size: 18px,
          height: 22px,
          spacing: 0,
          family: $primaryfont,
          weight: 700,
        )
      );
      @include mq(small_tablet) {
        margin-top: 35px;
      }
      @include mq(small_laptop) {
        margin-top: 28px;
      }
      @include mq(large_laptop) {
        margin-top: 30px;
        @include quick_type(20px, 26px, null);
      }
      @include mq(small_monitor) {
        margin-top: 56px;
        @include quick_type(22px, 28px, null);
      }
    }
    .sec_six_descrip {
      @include type(
        (
          size: 15px,
          height: 20px,
          spacing: 0,
          family: $thirdfont,
        )
      );
      @include mq(small_monitor) {
        @include quick_type(17px, 26px, null);
      }
    }
    p {
      margin-bottom: 12px;
    }
    span.sec_six_name {
      display: block;
      padding-top: 10px;
      @include type(
        (
          size: 13px,
          spacing: 1.95px,
          family: $primaryfont,
          weight: 800,
          transform: uppercase,
        )
      );
      @include mq(large_laptop) {
        padding-top: 17px;
      }
      @include mq(small_monitor) {
        font-size: 15px;
      }
      &:before {
        background: $color_bright_one;
        border-radius: 50%;
        vertical-align: top;
        margin-top: 4px;
        margin-right: 7px;
        @include box(4px);
        @include contentdisplay(inline-block);
        @include mq(small_monitor) {
          margin-top: 6px;
          margin-right: 10px;
        }
      }
    }
  }
}
