.blog_post {
  padding-bottom: 45px;
  border-bottom: 2px solid $color_light_five;
  margin-bottom: 45px;
  &:last-of-type {
    margin-bottom: 23px;
  }
}

.content {
  .blog_meta {
    span.date,
    li {
      @include type(
        (
          size: 14px,
          height: 17px,
          spacing: 2.1px,
          family: $primaryfont,
          weight: 800,
          transform: uppercase,
        )
      );
    }
    ul {
      display: inline;
      li {
        padding: 0;
        display: inline;
        &:before {
          display: none;
        }
        &:after {
          @include contentdisplay(inline-block, ",");
        }
        &:last-of-type {
          &:after {
            display: none;
          }
        }
        a {
          color: $color_dark_one;
          text-decoration: none;
          &:hover {
            color: $color_bright_two;
          }
        }
      }
    }
  }
}

h2.blog_header {
  margin-top: 8px;
  a {
    text-decoration: none;
    &:hover {
      color: $color_bright_one;
      text-decoration: none;
    }
  }
}
.content {
  a.read_more {
    margin-top: 25px;
    color: $color_dark_one;
    &:hover {
      color: $color_bright_two;
      text-decoration: none;
    }
  }
}

.paged_wrapper {
  ul {
    @include flex(null, center);
    li {
      padding-left: 0;
      margin: 0 10px;
      @include type(
        (
          size: 16px,
          height: 18px,
          spacing: 0.4px,
          family: $secondaryfont,
          weight: 600,
        )
      );
      &:before {
        display: none;
      }
      a {
        color: $color_dark_one;
        text-decoration: none;
        &:hover {
          color: $color_bright_two;
          text-decoration: none;
        }
      }
      &.blog_arrow {
        position: relative;
        top: 2px;
        a {
          background-color: transparent;
          border-radius: 50%;
          transition: all 200ms ease-in-out;
          position: relative;
          @include flex(center, center);
          @include box(33px);
          &:before,
          &:after {
            background-size: 10px 10px;
            transition: all 200ms ease-in-out;
            @include box(10px, 10px);
            @include abs(11px, null, null, 10px);
            @include contentdisplay();
          }
          &:before {
            opacity: 0;
            background-image: url(#{$themepath}/images/arrow-white.svg);
          }
          &:after {
            background-image: url(#{$themepath}/images/arrow.svg);
          }
          &:hover {
            background: $color_bright_two;
            &:before {
              opacity: 1;
            }
            &:after {
              opacity: 0;
            }
          }
        }
      }
      &.myprev {
        margin: 0 6px;
        a {
          &:before,
          &:after {
            transform: rotate(90deg);
          }
        }
      }
      &.mynext {
        margin: 0 6px;
        a {
          &:before,
          &:after {
            @include abs(11px, null, null, 12px);
            transform: rotate(-90deg);
          }
        }
      }
    }
  }
}

.sidebar_blog {
  box-shadow: 20px 20px 50px #00000029;
  padding: 25px 32px 20px;
  width: 100%;
  max-width: 300px;
  display: none;
  @include abs(50px, null, null, 0);
  @include mq(small_laptop) {
    padding: 39px 38px 25px;
    position: static;
    max-width: 100%;
    display: block !important;
  }
  .widget {
    background: transparent;
    box-shadow: none;
    padding: 0;
    padding-bottom: 20px;
    margin-bottom: 0;
    position: static;
    display: block;
    @include mq(small_laptop) {
    }
    &:last-of-type {
      margin-bottom: 0px;
    }
    h3 {
      display: block;
      cursor: pointer;
      transition: all 200ms ease-in-out;
      @include type(
        (
          size: 14px,
          height: 17px,
          weight: 700,
          spacing: 0.75px,
          family: $primaryfont,
        )
      );
      @include mq(small_laptop) {
        font-size: 13px;
      }
      @include mq(large_laptop) {
        font-size: 14px;
      }
      @include mq(small_monitor) {
        font-size: 15px;
      }
      &:hover {
        color: $color_bright_two;
      }
      &:after {
        background-image: url(#{$themepath}/images/arrow.svg);
        background-size: 10px 9px;
        margin-left: 14px;
        margin-top: 5px;
        vertical-align: top;
        @include box(10px, 9px);
        @include contentdisplay(inline-block);
      }
      &.active {
        color: $color_bright_two;
      }
    }
    ul {
      display: none;
      padding-top: 15px;
      @include mq(small_laptop) {
        padding-top: 9px;
        display: block;
      }
      @include mq(large_laptop) {
        padding-top: 13px;
      }
      @include mq(small_monitor) {
        padding-top: 17px;
        padding-bottom: 15px;
      }
      > li {
        @include type(
          (
            size: 14px,
            height: 17px,
            family: $primaryfont,
          )
        );
        @include mq(small_laptop) {
          font-size: 13px;
        }
        @include mq(large_laptop) {
          font-size: 14px;
        }
        @include mq(small_monitor) {
          font-size: 15px;
        }
        &:last-of-type {
          a {
            margin-bottom: 0;
          }
        }
        &.active {
          > a {
            color: $color_bright_two;
          }
        }
        &.blog-active {
          a {
            color: $color_bright_two;
          }
        }
      }
    }
  }
}
