////////////////////////////////////////////////////////////////////
// Fonts
////////////////////////////////////////////////////////////////////

$primaryfont: proxima-nova, sans-serif; // 400, 700, 800
$secondaryfont: "Titillium Web", sans-serif; // 600, 700
$thirdfont: "Lora", serif;
