#section_three {
  padding: 40px 30px 30px;
  @include mq(small_tablet) {
    padding: 47px 75px 60px;
  }
  @include mq(small_laptop) {
    padding: 60px 75px;
  }
  @include mq(large_laptop) {
    padding: 78px 75px 80px;
  }
  @include mq(small_monitor) {
    padding: 78px 75px 100px;
  }
}

#sec_three_inner {
  max-width: 799px;
  @include margin_lr;
  @include mq(large_laptop) {
    max-width: 882px;
  }
  @include mq(small_monitor) {
    max-width: 1007px;
  }
}

#sec_three_content {
  margin-top: 23px;
  @include mq(small_tablet) {
    margin-top: 30px;
  }
}

h1#sec_three_title {
  margin-bottom: 23px;
  @include type(
    (
      size: 40px,
      height: 40px,
      spacing: 0.35px,
      family: $secondaryfont,
      color: $color_dark_one,
      weight: 600,
      align: center,
    )
  );
  @include mq(small_tablet) {
    max-width: 570px;
    margin-bottom: 36px;
    @include margin_lr;
    @include quick_type(55px, 55px, null);
  }
  @include mq(small_laptop) {
    max-width: 500px;
    margin-bottom: 28px;
    @include quick_type(50px, 55px, null);
  }
  @include mq(large_laptop) {
    max-width: 600px;
    margin-bottom: 33px;
    @include quick_type(60px, 60px, null);
  }
  @include mq(small_monitor) {
    max-width: 700px;
    margin-bottom: 55px;
    @include quick_type(70px, 70px, null);
  }
}

.subtitle {
  &:before,
  &:after {
    width: 100%;
    background: $color_bright_one;
    @include contentdisplay();
  }
  &:before {
    height: 6px;
    @include mq(small_tablet) {
      height: 8px;
    }
  }
  &:after {
    height: 3px;
  }
  span {
    padding: 18px 0;
    display: block;
    max-width: 250px;
    @include margin_lr;
    @include type(
      (
        size: 15px,
        height: 20px,
        spacing: 1.5px,
        family: $primaryfont,
        color: $color_dark_one,
        weight: 800,
        align: center,
        transform: uppercase,
      )
    );
    @include mq(small_tablet) {
      padding: 18px 0 22px;
      max-width: 100%;
      @include quick_type(16px, 22px, 4px);
    }
    @include mq(small_laptop) {
      padding: 25px 0 19px;
    }
    @include mq(small_monitor) {
      padding: 28px 0 23px;
      @include quick_type(20px, 26px, 4px);
    }
  }
}
