#sec_three_inner {
  padding: 42px 20px 20px;
  max-width: 530px;
  @include margin_lr;
  @include mq(small_tablet) {
    padding: 82px 97px 75px;
    max-width: 100%;
  }
  @include mq(small_laptop) {
    @include flex();
    padding: 115px 65px 115px 97px;
  }
  @include mq(large_laptop) {
    padding: 131px 65px 130px 178px;
  }
  @include mq(small_monitor) {
    max-width: 1275px;
    padding: 131px 0px 80px;
    @include margin_lr;
  }
}

#sec_three_left {
  display: none;
  @include mq(small_laptop) {
    display: block;
    flex-shrink: 0;
    flex-basis: 428px;
    position: relative;
  }
}

#sec_three_left_inner {
  position: relative;
  z-index: 1;
}

span#sec_three_left_descrip {
  display: block;
  margin-top: 135px;
  margin-bottom: 48px;
  @include type(
    (
      size: 45px,
      height: 54px,
      spacing: 0,
      family: $primaryfont,
    )
  );
  @include mq(large_laptop) {
    margin-top: 153px;
  }
}

img#eb_graphic {
  opacity: 0.5;
  @include abs(35px, null, null, -140px);
  @include mq(large_laptop) {
    left: -166px;
  }
}

#sec_three_right {
  @include mq(small_laptop) {
    padding-left: 40px;
  }
  @include mq(large_laptop) {
    padding-left: 115px;
  }
  @include mq(small_monitor) {
    padding-left: 229px;
  }
}

#sec_three_header {
}

#sec_three_content {
  margin-top: 33px;
  @include mq(small_tablet) {
    margin-top: 22px;
  }
}
