#section_one {
  width: 100%;
  margin-top: 96px;
  text-align: center;
  position: relative;
  @include mq(small_tablet) {
    margin-top: 58px;
  }
  @include mq(small_laptop) {
    margin-top: 66px;
    height: 517px;
  }
  @include mq(large_laptop) {
    margin-top: 61px;
    height: 583px;
  }
  @include mq(small_monitor) {
    margin-top: 77px;
    height: 740px;
  }
}

#sec_one_inner {
  position: relative;
  z-index: 1;
  max-width: 295px;
  @include margin_lr;
  @include mq(small_tablet) {
    max-width: 540px;
  }
  @include mq(small_laptop) {
    max-width: 1075px;
    @include flex(space-between);
  }
  @include mq(large_laptop) {
    max-width: 1204px;
  }
  @include mq(small_monitor) {
    max-width: 1600px;
  }
}

#sec_one_top {
  padding-top: 94px;
  @include mq(small_tablet) {
    padding-top: 66px;
    @include flex(null, null, column);
  }
  @include mq(small_laptop) {
    flex-basis: 505px;
    flex-shrink: 0;
    justify-content: flex-start;
    margin-left: 60px;
    padding-top: 93px;
  }
  @include mq(large_laptop) {
    margin-left: 85px;
    flex-basis: 660px;
    padding-top: 103px;
  }
  @include mq(small_monitor) {
    padding-top: 140px;
    margin-left: 20px;
  }
}

#sec_one_video_wrapper {
  @include mq(small_tablet) {
    order: 2;
    @include flex();
  }
}

#sec_one_video {
  position: relative;
  z-index: 1;
  flex-shrink: 0;
  margin-top: 44px;
  @include margin_lr;
  @include box(163px, 92px);
  @include mq(small_tablet) {
    margin: 48px 25px 0 34px;
    @include box(205px, 116px);
  }
  @include mq(small_laptop) {
    margin: 41px 35px 0 25px;
  }
  @include mq(large_laptop) {
    margin: 56px 46px 0 25px;
    @include box(221px, 121px);
  }
  @include mq(small_monitor) {
    margin: 83px 46px 0 30px;
    @include box(300px, 165px);
  }
  img {
    @include image(300px, 165px);
  }
  .video_overlay {
    @include abs(0, null, null, 0, 1);
    @include box(100%);
    @include flex(center, center);
    svg {
      @include box(105px);
      @include mq(small_laptop) {
        @include box(111px);
      }
      @include mq(large_laptop) {
        @include box(117px);
      }
      @include mq(small_monitor) {
        @include box(138px);
      }
    }
  }
  &:after {
    background: $color_bright_three;
    @include abs(-15px, null, null, -15px, -1);
    @include box(163px, 92px);
    @include contentdisplay();
    @include mq(small_tablet) {
      @include box(205px, 116px);
      @include abs(-21px, null, null, -21px, -1);
    }
    @include mq(large_laptop) {
      @include box(221px, 121px);
    }
    @include mq(small_monitor) {
      @include abs(-29px, null, null, -29px, -1);
      @include box(300px, 165px);
    }
  }
}

#sec_one_video_content {
  display: none;
  @include mq(small_tablet) {
    display: block;
    max-width: 228px;
    margin-top: 77px;
  }
  @include mq(small_laptop) {
    max-width: 233px;
  }
  @include mq(large_laptop) {
    max-width: 273px;
  }
  @include mq(small_monitor) {
    margin-top: 124px;
  }
  span {
    @include mq(small_tablet) {
      display: block;
      padding-top: 13px;
      border-top: 4px solid $color_bright_one;
      @include type(
        (
          size: 16px,
          height: 24px,
          family: $thirdfont,
          align: left,
          color: $color_light_one,
        )
      );
    }
    @include mq(small_laptop) {
      border-top: 6px solid $color_bright_one;
    }
    @include mq(large_laptop) {
      padding-top: 17px;
      @include quick_type(18px, 26px, null);
    }
    @include mq(small_monitor) {
      @include quick_type(19px, 30px, null);
    }
  }
}

span#sec_one_title {
  display: block;
  margin-top: 20px;
  @include type(
    (
      size: 35px,
      height: 35px,
      family: $secondaryfont,
      color: $color_light_one,
      weight: 700,
    )
  );
  @include mq(small_tablet) {
    order: 1;
    text-align: left;
    @include quick_type(55px, 55px, null);
  }
  @include mq(small_laptop) {
    margin-top: 0px;
  }
  @include mq(large_laptop) {
    @include quick_type(65px, 65px, null);
  }
  @include mq(small_monitor) {
    @include quick_type(75px, 75px, null);
  }
}

a#free_consult_button {
  width: 100%;
  display: block;
  margin-top: 70px;
  padding: 19px 10px;
  color: $color_light_one;
  background: $color_bright_two;
  position: relative;
  z-index: 1;
  @include type(
    (
      size: 12px,
      family: $primaryfont,
      color: $color_light_one,
      weight: 800,
      spacing: 3.2px,
      transform: uppercase,
    )
  );
  @include mq(small_tablet) {
    padding: 21px 10px;
    @include quick_type(14px, null, null);
  }
  @include mq(small_laptop) {
    display: none;
  }
}

img#hero {
  object-fit: cover;
  @include box(100%);
  @include abs(0, null, null, 0);
}

#sec_one_bottom {
  width: 320px;
  flex-shrink: 0;
  @include mq(large_laptop) {
    width: 350px;
  }
  @include mq(small_monitor) {
    width: 508px;
  }
}

#sec_one_form {
  margin-top: 57px;
  background: $color_light_one;
  box-shadow: 20px 20px 50px #00000029;
  padding: 39px 36px;
  @include mq(large_laptop) {
    margin-top: 89px;
  }
  @include mq(small_monitor) {
    margin-top: 150px;
    padding: 51px 36px 54px;
  }
  ul {
    list-style: none;
    li {
      width: 100%;
      text-align: left;
      margin-bottom: 8px;
      @include mq(large_laptop) {
        margin-bottom: 10px;
      }
      label {
        display: none;
      }
      input,
      textarea {
        width: 100%;
        border: 1px solid $color_light_six;
        padding: 12px 18px;
        @include type(
          (
            size: 13px,
            weight: 700,
            spacing: 0.65px,
            family: $primaryfont,
            color: $color_dark_one,
          )
        );
        @include mq(large_laptop) {
          font-size: 14px;
        }
        @include mq(small_monitor) {
          padding: 15px 29px;
        }
      }
      textarea {
        height: 93px;
        @include mq(small_monitor) {
          height: 138px;
        }
      }
    }
  }
  input[type="submit"] {
    border: none;
    width: 100%;
    padding: 20px 10px;
    background: $color_bright_two;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    @include type(
      (
        size: 14px,
        family: $primaryfont,
        color: $color_light_one,
        weight: 800,
        spacing: 5px,
        transform: uppercase,
      )
    );
    &:hover {
      background: $color_bright_three;
    }
  }
  .gfield_description,
  .validation_message {
    margin-top: 5px;
    @include type(
      (
        size: 11px,
        spacing: 1px,
        family: $primaryfont,
        color: $color_bright_two,
        weight: 800,
        transform: uppercase,
      )
    );
  }
  span#sec_one_required {
    display: block;
    margin-top: 16px;
    @include type(
      (
        size: 12px,
        family: $thirdfont,
        color: $color_light_seven,
        transform: lowercase,
      )
    );
    @include mq(large_laptop) {
      font-size: 14px;
    }
    @include mq(small_monitor) {
      margin-top: 30px;
    }
  }
}

span#sec_one_form_title {
  @include mq(small_laptop) {
    display: block;
    margin-bottom: 13px;
    @include type(
      (
        size: 14px,
        spacing: 2.5px,
        family: $primaryfont,
        color: $color_bright_two,
        weight: 800,
        transform: uppercase,
      )
    );
  }
  @include mq(large_laptop) {
    margin-bottom: 21px;
  }
  @include mq(small_monitor) {
    font-size: 20px;
    margin-bottom: 27px;
  }
}
