#section_one {
  width: 100%;
  margin-top: 96px;
  text-align: center;
  position: relative;
}

#sec_one_inner {
  position: relative;
  z-index: 1;
}

#sec_one_top {
  padding-top: 94px;
}

#sec_one_video {
  position: relative;
  z-index: 1;
  @include margin_lr;
  @include box(163px, 92px);
  img {
    @include image();
  }
  .video_overlay {
    @include abs(0, null, null, 0, 1);
    @include box(100%);
    @include flex(center, center);
    svg {
      @include box(105px);
    }
  }
  &:after {
    background: $color_bright_three;
    @include abs(-15px, null, null, -15px, -1);
    @include box(163px, 92px);
    @include contentdisplay();
  }
}

span#sec_one_title {
  display: block;
  margin-top: 20px;
  @include type(
    (
      size: 35px,
      height: 35px,
      family: $secondaryfont,
      color: $color_light_one,
      weight: 700,
    )
  );
}

a#free_consult_button {
  width: 100%;
  display: block;
  margin-top: 70px;
  padding: 19px 10px;
  color: $color_light_one;
  background: $color_bright_two;
  @include type(
    (
      size: 12px,
      family: $primaryfont,
      color: $color_light_one,
      weight: 800,
      spacing: 3.2px,
      transform: uppercase,
    )
  );
}

img#hero {
  object-fit: cover;
  @include box(100%);
  @include abs(0, null, null, 0);
}
