#page_wrapper.testimonials_page_wrapper {
  padding: 33px 30px 20px;
  @include mq(small_tablet) {
    padding: 38px 42px 40px;
    max-width: 825px;
    @include margin_lr;
  }
}

#testimonials_wrapper {
  margin-top: 26px;
  max-width: 420px;
  @include margin_lr;
  @include mq(small_tablet) {
    margin-top: 38px;
    max-width: 100%;
    @include flex(space-between);
  }
  p {
    margin-bottom: 8px;
  }
}

.testimonial_col {
  flex-basis: 48%;
}

.single_testimonial {
  background: $color_light_one;
  box-shadow: 5px 5px 20px #00000029;
  position: relative;
  padding: 43px 35px;
  margin-bottom: 30px;
  @include mq(small_tablet) {
    padding: 49px 35px;
  }
  img.testi_stars {
    width: 132px;
    @include image();
  }
  img.testi_icon {
    @include box(87px);
    @include abs(10px, 0, null, null);
    @include mq(small_tablet) {
      top: 24px;
    }
  }
  .testi_intro {
    margin-top: 33px;
    @include type(
      (
        size: 15px,
        height: 19px,
        family: $primaryfont,
        weight: 700,
      )
    );
  }
  .testi_descrip {
    @include type(
      (
        size: 13px,
        height: 18px,
        family: $thirdfont,
      )
    );
  }
  span.testi_name {
    display: block;
    margin-top: 20px;
    @include type(
      (
        size: 12px,
        height: 14px,
        spacing: 1.8px,
        family: $primaryfont,
        weight: 800,
        transform: uppercase,
      )
    );
    &:before {
      vertical-align: top;
      margin-top: 6px;
      margin-right: 7px;
      border-radius: 50%;
      background: $color_bright_one;
      @include box(3px);
      @include contentdisplay(inline-block);
    }
  }
}
