#page_wrapper.testimonials_page_wrapper {
  padding: 40px 30px 20px;
  @include mq(small_tablet) {
    padding: 40px 42px 40px;
    max-width: 890px;
    @include margin_lr;
  }
  @include mq(small_laptop) {
    padding: 44px 42px 40px;
  }
  @include mq(small_monitor) {
    padding: 61px 42px 63px;
    max-width: 1000px;
  }
}

#testimonials_wrapper {
  margin-top: 26px;
  max-width: 420px;
  @include margin_lr;
  @include mq(small_tablet) {
    margin-top: 38px;
    max-width: 100%;
    @include flex(space-between);
  }
  @include mq(small_laptop) {
    margin-top: 44px;
  }
  p {
    margin-bottom: 8px;
  }
}

.testimonial_col {
  flex-basis: 48%;
  @include mq(large_laptop) {
    flex-basis: 47.5%;
  }
  @include mq(small_monitor) {
    flex-basis: 48%;
  }
}

.single_testimonial {
  background: $single_testi_bg_color;
  box-shadow: 5px 5px 20px #00000029;
  position: relative;
  padding: 43px 35px;
  margin-bottom: 30px;
  @include mq(small_tablet) {
    padding: 49px 35px;
  }
  @include mq(large_laptop) {
    margin-bottom: 35px;
    padding: 49px 45px;
  }
  @include mq(small_monitor) {
    padding: 63px 45px;
    margin-bottom: 39px;
  }
  img.testi_stars {
    width: 132px;
    @include image();
    @include mq(small_laptop) {
      width: 153px;
    }
    @include mq(small_monitor) {
      width: 169px;
    }
  }
  img.testi_icon {
    @include box(87px);
    @include abs(10px, 0, null, null);
    @include mq(small_tablet) {
      top: 24px;
    }
    @include mq(small_laptop) {
      @include abs(21px, 0, null, null);
      @include box(93px);
    }
    @include mq(small_monitor) {
      top: 40px;
    }
  }
  .testi_intro {
    margin-top: 33px;
    @include type(
      (
        size: $testi_intro_size,
        height: $testi_intro_height,
        family: $primaryfont,
        weight: $testi_intro_weight,
      )
    );
    @include mq(small_laptop) {
      margin-top: 37px;
      @include quick_type(
        $testi_intro_size_small_laptop,
        $testi_intro_height_small_laptop,
        null
      );
    }
    @include mq(large_laptop) {
      margin-top: 29px;
      @include quick_type(
        $testi_intro_size_large_laptop,
        $testi_intro_height_large_laptop,
        null
      );
    }
    @include mq(small_monitor) {
      margin-top: 52px;
      @include quick_type(
        $testi_intro_size_small_monitor,
        $testi_intro_height_small_monitor,
        null
      );
    }
  }
  .testi_descrip {
    @include type(
      (
        size: $testi_descrip_size,
        height: $testi_descrip_height,
        family: $thirdfont,
      )
    );
    @include mq(small_laptop) {
      margin-top: 14px;
      @include quick_type(
        $testi_descrip_size_small_laptop,
        $testi_descrip_height_small_laptop,
        null
      );
    }
    @include mq(large_laptop) {
      margin-top: 9px;
    }
    @include mq(small_monitor) {
      @include quick_type(
        $testi_descrip_size_small_monitor,
        $testi_descrip_height_large_laptop,
        null
      );
    }
  }
  span.testi_name {
    display: block;
    margin-top: 20px;
    @include type(
      (
        size: $testi_name_size,
        height: $testi_name_height,
        spacing: $testi_name_spacing,
        family: $primaryfont,
        weight: $testi_name_weight,
        transform: uppercase,
      )
    );
    @include mq(small_laptop) {
      font-size: $testi_name_size_small_laptop;
    }
    @include mq(large_laptop) {
      margin-top: 26px;
    }
    @include mq(small_monitor) {
      font-size: $testi_name_size_small_monitor;
    }
    &:before {
      vertical-align: top;
      margin-top: 6px;
      margin-right: 7px;
      border-radius: 50%;
      background: $testi_name_dot_bg_color;
      @include box(3px);
      @include contentdisplay(inline-block);
      @include mq(small_laptop) {
        margin-top: 5px;
      }
    }
  }
}
