footer {
  height: 10000px;
}

#form_wrapper {
  background: $color_light_ten;
  padding: 66px 30px 50px;
}

#form_inner {
  box-shadow: 20px 20px 50px #00000029;
  background: $color_light_one;
  padding: 1px 0 0 0;
}

#form_top {
  img#footer_icon {
    margin-top: -30px;
    @include margin_lr;
    @include image(61px);
  }
}

#form_bottom {
  text-align: center;
  margin-top: 30px;
  padding: 0 28px;
  > span {
    display: block;
    &#footer_form_title {
      @include type(
        (
          size: 15px,
          spacing: 1.5px,
          family: $primaryfont,
          color: $color_bright_two,
          weight: 800,
          transform: uppercase,
        )
      );
    }
    &#footer_form_descrip {
      margin-top: 8px;
      @include type(
        (
          size: 15px,
          height: 20px,
          family: $thirdfont,
        )
      );
    }
  }
  ul {
    list-style: none;
    margin-top: 23px;
    li {
      width: 100%;
      text-align: left;
      margin-bottom: 8px;
      @include mq(large_laptop) {
        margin-bottom: 10px;
      }
      label {
        display: none;
      }
      input,
      textarea {
        width: 100%;
        border: 1px solid $color_light_five;
        padding: 15px 18px;
        @include type(
          (
            size: 13px,
            weight: 700,
            spacing: 0.65px,
            family: $primaryfont,
            color: $color_dark_one,
          )
        );
        @include mq(large_laptop) {
          font-size: 14px;
        }
        @include mq(small_monitor) {
          padding: 15px 29px;
        }
      }
      textarea {
        height: 121px;
        @include mq(small_monitor) {
          height: 138px;
        }
      }
    }
  }
  input[type="submit"] {
    border: none;
    width: 100%;
    padding: 15px 10px;
    background: $color_bright_two;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    @include type(
      (
        size: 14px,
        family: $primaryfont,
        color: $color_light_one,
        weight: 800,
        spacing: 5px,
        transform: uppercase,
      )
    );
    &:hover {
      background: $color_bright_three;
    }
  }
  .gfield_description,
  .validation_message {
    margin-top: 5px;
    @include type(
      (
        size: 11px,
        spacing: 1px,
        family: $primaryfont,
        color: $color_bright_two,
        weight: 800,
        transform: uppercase,
      )
    );
  }
  span#footer_required {
    display: block;
    margin-top: 16px;
    @include type(
      (
        size: 12px,
        family: $thirdfont,
        color: $color_light_seven,
        transform: lowercase,
      )
    );
    @include mq(large_laptop) {
      font-size: 14px;
    }
    @include mq(small_monitor) {
      margin-top: 30px;
    }
  }
}
