body {
  color: $color_dark_one;
}

h1.page_title {
  @include type(
    (
      size: 30px,
      height: 32px,
      family: $secondaryfont,
      weight: 600,
    )
  );
  @include mq(small_tablet) {
    @include quick_type(34px, 36px, null);
  }
  @include mq(large_laptop) {
    @include quick_type(38px, 40px, null);
  }
  @include mq(small_monitor) {
    @include quick_type(45px, 50px, null);
  }
  &:after {
    background: $color_bright_one;
    margin-top: 18px;
    @include box(100%, 3px);
    @include contentdisplay();
    @include mq(small_monitor) {
      @include box(100%, 5px);
    }
  }
}

h1.internal_title {
  @include type(
    (
      size: 30px,
      height: 32px,
      family: $secondaryfont,
      weight: 600,
    )
  );
}

.content {
  @include type(
    (
      size: 15px,
      height: 26px,
      spacing: 0.15px,
      family: $primaryfont,
    )
  );
  @include mq(large_laptop) {
    @include quick_type(16px, 28px, null);
  }
  @include mq(small_monitor) {
    @include quick_type(17px, 30px, null);
  }
  ul {
    list-style: none;
    li {
      position: relative;
      padding-left: 13px;
      &:before {
        border-radius: 50%;
        background: $color_bright_two;
        @include abs(11px, null, null, 0);
        @include box(4px);
        @include contentdisplay();
      }
    }
  }
  ol {
    list-style: none;
    counter-reset: item;
    > li {
      counter-increment: item;
      position: relative;
      padding-left: 25px;
    }
    > li:before {
      content: counter(item) ".";
      font-weight: 800;
      color: $color_bright_two;
      @include abs(0, null, null, 0);
    }
  }
  ul,
  ol,
  p {
    margin-bottom: 20px;
  }
  h2 {
    margin-bottom: 8px;
    @include type(
      (
        size: 19px,
        height: 24px,
        spacing: 0.19px,
        family: $secondaryfont,
        color: $color_bright_three,
        weight: 700,
      )
    );
    @include mq(small_tablet) {
      padding-top: 10px;
    }
    @include mq(large_laptop) {
      @include quick_type(20px, 26px, null);
    }
    @include mq(small_monitor) {
      @include quick_type(22px, 30px, null);
    }
  }
  h3 {
    padding-top: 10px;
    padding-bottom: 7px;
    @include type(
      (
        size: 17px,
        height: 22px,
        spacing: 0.17px,
        family: $primaryfont,
        color: $color_bright_three,
        weight: 700,
      )
    );
    @include mq(large_laptop) {
      @include quick_type(18px, 24px, null);
    }
    @include mq(small_monitor) {
      @include quick_type(19px, 26px, null);
    }
  }
  a {
    color: $color_bright_three;
    transition: all 200ms ease-in-out;
    &:hover {
      text-decoration: underline;
    }
  }
}
