body {
  color: $color_dark_one;
}

.content {
  @include type(
    (
      size: 15px,
      height: 26px,
      spacing: 0.15px,
      family: $primaryfont,
    )
  );
  @include mq(large_laptop) {
    @include quick_type(16px, 28px, null);
  }
  @include mq(small_monitor) {
    @include quick_type(17px, 30px, null);
  }
  p {
    margin-bottom: 20px;
  }
  h2 {
    margin-bottom: 8px;
    @include type(
      (
        size: 19px,
        height: 24px,
        spacing: 0.19px,
        family: $secondaryfont,
        color: $color_bright_three,
        weight: 700,
      )
    );
    @include mq(small_tablet) {
      padding-top: 10px;
    }
    @include mq(large_laptop) {
      @include quick_type(20px, 26px, null);
    }
    @include mq(small_monitor) {
      @include quick_type(22px, 30px, null);
    }
  }
  a {
    color: $color_bright_three;
    transition: all 200ms ease-in-out;
    &:hover {
      text-decoration: underline;
    }
  }
}
