////////////////////////////////////////////////////////////////////
// Global Content
////////////////////////////////////////////////////////////////////

// h1.page_title

$page_title_size: 30px;
$page_title_size_tablet: 34px;
$page_title_size_large_laptop: 38px;
$page_title_size_small_monitor: 45px;

$page_title_height: 32px;
$page_title_height_tablet: 36px;
$page_title_height_large_laptop: 40px;
$page_title_height_small_monitor: 50px;

$page_title_weight: 600;

// h1.page_title:after

$page_title_line_bg_color: $color_bright_one;

// h1.internal_title

$internal_title_size: 30px;
$internal_title_size_small_tablet: 34px;
$internal_title_size_large_laptop: 38px;
$internal_title_size_small_monitor: 45px;

$internal_title_height: 32px;
$internal_title_height_small_tablet: 36px;
$internal_title_height_large_laptop: 40px;
$internal_title_height_small_monitor: 50px;

$internal_title_weight: 600;

// .inner_subtitle :before, :after

$inner_subtitle_bg_color: $color_bright_two;

// .inner_subtitle ul li

$inner_subtitle_list_size: 12px;
$inner_subtitle_list_size_small_tablet: 14px;
$inner_subtitle_list_size_small_monitor: 16px;

$inner_subtitle_list_height: 18px;
$inner_subtitle_list_height_small_tablet: 20px;

$inner_subtitle_list_spacing: 2.1px;
$inner_subtitle_list_spacing_large_laptop: 3.2px;

$inner_subtitle_list_color: $color_dark_one;

$inner_subtitle_list_weight: 800;

// .inner_subtitle span

$inner_subtitle_span_size: 14px;
$inner_subtitle_span_size_small_tablet: 15px;

$inner_subtitle_span_height: 20px;
$inner_subtitle_span_height_small_tablet: 20px;

$inner_subtitle_span_spacing: 2.1px;

$inner_subtitle_span_color: $color_dark_one;

$inner_subtitle_span_weight: 800;
