body.page-template-template-contact,
body.error404 {
  #internal_banner {
    @include mq(small_laptop) {
      height: 210px;
    }
  }
  #footer_bottom {
    margin-top: 0;
    padding-top: 45px;
    @include mq(small_tablet) {
      padding-top: 0;
    }
  }
  span#form_title {
    color: $color_dark_one;
  }
  #form_wrapper {
    padding: 40px 0px 100px;
    border-top: 2px solid $color_light_fifteen;
    @include mq(small_tablet) {
      box-shadow: none;
      padding: 60px 0px 100px;
      max-width: 1000px;
    }
    @include mq(large_laptop) {
      padding: 60px 0px 120px;
    }
    .gform_wrapper {
      margin-top: 47px;
      @include mq(small_laptop) {
        margin-top: 57px;
      }
    }
    ul {
      li {
        label {
          color: $color_dark_one;
        }
        input,
        textarea,
        select {
          background: $color_light_seventeen;
          border: 2px solid $color_light_eighteen;
          padding: 20px 15px;
        }
        &.custom_select {
          &:after {
            top: 66px;
          }
        }
      }
    }
    span#required {
      color: $color_dark_one;
    }
  }
  #form_descrip {
    color: $color_dark_one;
  }
}

.contact_page_wrapper {
}

#contact_col_wrapper {
  padding-bottom: 40px;
  @include mq(small_tablet) {
    max-width: 690px;
    padding-bottom: 60px;
    @include margin_lr;
    @include flex(center);
  }
  @include mq(small_laptop) {
    max-width: 670px;
    padding-bottom: 91px;
    @include flex(space-between);
  }
}

.contact_col {
  text-align: center;
  @include mq(small_tablet) {
    margin: 0 70px;
  }
  @include mq(small_laptop) {
    margin: 0;
  }
  &:last-of-type {
    margin-top: 50px;
    @include mq(small_tablet) {
      margin-top: 0;
    }
  }
  span {
    display: block;
  }
  span.contact_title {
    @include type(
      (
        size: 16px,
        height: 19px,
        spacing: 1.2px,
        color: $color_bright_two,
        family: $primaryfont,
        weight: 700,
        transform: uppercase,
      )
    );
    @include mq(small_laptop) {
      @include quick_type(18px, 20px, 3.6px);
    }
    &:after {
      background: $color_dark_one;
      margin-top: 15px;
      margin-bottom: 15px;
      @include margin_lr;
      @include box(67px, 2px);
      @include contentdisplay();
      @include mq(small_tablet) {
        margin-bottom: 27px;
      }
    }
  }
  span.contact_subtitle {
    margin-bottom: 10px;
    @include type(
      (
        size: 18px,
        height: 20px,
        weight: 700,
        family: $primaryfont,
      )
    );
  }
  .contact_content {
    margin-bottom: 20px;
    text-decoration: none;
    @include type(
      (
        size: 20px,
        height: 24px,
        color: $color_dark_one,
        family: $primaryfont,
      )
    );
    @include quick_type(22px, 24px, null);
  }
  a.get_directions {
    margin-top: 15px;
    border: 2px solid $color_bright_two;
    color: $color_bright_two;
    &:hover {
      border: 2px solid $color_bright_one;
      color: $color_bright_one;
    }
  }
}
