#page_wrapper.contact_page_wrapper {
  max-width: 747px;
  @include margin_lr;
}

#contact_wrapper {
  text-align: center;
  margin-top: 30px;
  @include mq(small_monitor) {
    margin-top: 38px;
  }
  > span,
  a.contact_phone {
    display: block;
    @include type(
      (
        size: $contact_phone_size,
        height: $contact_phone_height,
        spacing: $contact_phone_spacing,
        color: $contact_phone_color,
        family: $primaryfont,
      )
    );
    span {
      color: $contact_span_color;
      font-weight: $contact_span_weight;
    }
  }
  a.contact_directions {
    margin-top: 22px;
    padding-left: 50px;
    padding-right: 50px;
  }
}
