////////////////////////////////////////////////////////////////////
// Contact Page
////////////////////////////////////////////////////////////////////

// a.contact_phone

$contact_phone_size: 18px;

$contact_phone_height: 26px;

$contact_phone_spacing: 0.45px;

$contact_phone_color: $color_dark_one;

// #contact_wrapper span

$contact_span_color: $color_bright_two;

$contact_span_weight: 700;
