.content {
  .gform_wrapper {
    width: 100%;
    clear: both;
    padding-top: 45px;
    padding-bottom: 45px;
    ul {
      padding: 0;
      list-style: none;
      li {
        padding: 0;
        margin-bottom: 20px;
        &:before {
          display: none;
        }
        h2:not(.page_header):not(.blog_header) {
          padding-top: 25px;
          padding-bottom: 0px;
        }
        span.form_small_title {
          text-transform: uppercase;
        }
        a.form_privacy_policy {
          text-decoration: underline;
        }
        label {
          display: none;
          margin-bottom: 10px;
          span.gfield_required {
            margin-left: 5px;
          }
        }
        .ginput_container {
          > input,
          textarea {
            width: 100%;
            max-width: 425px;
          }
          input,
          textarea,
          select {
            width: 100%;
            border: 1px solid $color_light_twelve;
            padding: 14px 15px;
            @include type(
              (
                size: 13px,
                weight: 700,
                spacing: 0.65px,
                family: $primaryfont,
                color: $color_dark_one,
              )
            );
            @include mq(large_laptop) {
              font-size: 14px;
              padding: 12px 15px;
            }
            @include mq(small_monitor) {
              padding: 15px 15px;
            }
          }
          textarea {
            height: 143px;
            @include mq(large_laptop) {
              height: 130px;
            }
          }
          select {
            -webkit-appearance: none;
          }
          ul {
            margin-bottom: 0;
            li {
              margin-bottom: 0;
            }
          }
        }
      }
      li#field_5_18 {
        > label {
          display: none;
        }
      }
    }
    ul.gfield_checkbox,
    ul.gfield_radio {
      > li {
        display: flex;
        align-items: center;
        input,
        textarea {
          width: auto;
          max-width: auto;
        }
        label {
          display: block;
          margin-top: 8px;
          margin-left: 10px;
        }
      }
    }
  }
  input[type="submit"] {
    border: none;
    padding: 17px 40px;
    background: $color_bright_two;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    @include type(
      (
        size: 12px,
        family: $primaryfont,
        color: $color_light_one,
        weight: 800,
        spacing: 5px,
        transform: uppercase,
      )
    );
    @include mq(small_monitor) {
      font-size: 14px;
    }
    &:hover {
      background: $color_bright_three;
    }
  }
  .gfield_description,
  .validation_message {
    @include type(
      (
        size: 11px,
        spacing: 1px,
        family: $primaryfont,
        color: $color_bright_two,
        weight: 800,
        transform: uppercase,
      )
    );
  }
}
