header {
  width: 100%;
  background: $header_bg_color;
  box-shadow: 0px 3px 6px #00000029;
  @include fixed(0, null, null, 0, 5);
}

#header_inner {
  max-width: 1920px;
  @include margin_lr;
  @include flex(space-between, null, null, wrap);
}

#header_left {
  padding: 8px 0 3px 20px;
  flex-grow: 1;
  border-bottom: 1px solid $color_light_five;
  @include mq(small_tablet) {
    padding: 8px 0 3px 14px;
    border: none;
  }
  @include mq(small_laptop) {
    padding: 14px 0 5px 10px;
    flex-basis: 205px;
    flex-grow: unset;
  }
  @include mq(large_laptop) {
    padding: 9px 0 5px 10px;
  }
  @include mq(small_monitor) {
    flex-basis: 220px;
    padding: 14px 0 9px 33px;
  }
  a {
    display: block;
    img {
      width: 185px;
      @include mq(small_monitor) {
        width: 220px;
      }
    }
  }
}

#header_middle {
  width: 100%;
  height: 100vh;
  background: $header_middle_bg_color;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out,
    transform 600ms cubic-bezier(0.17, 0.66, 0.34, 0.98);
  @include fixed(58px, null, null, 0, 1);
  @include mq(small_tablet) {
    transform: translate(100%, 0);
    opacity: 1;
    visibility: visible;
    width: 315px;
    left: auto;
    right: 0;
    top: 58px;
    border-top: 1px solid $header_middle_border_color;
    box-shadow: 0px 3px 6px #00000029;
  }
  @include mq(small_laptop) {
    position: static;
    transform: translate(0);
    background: transparent;
    margin-top: 25px;
    border-top: none;
    overflow-y: unset;
    box-shadow: none;
    @include box(auto);
  }
  @include mq(small_monitor) {
    margin-top: 33px;
  }
  &.open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
    @include mq(small_tablet) {
    }
  }
}

#header_right {
  flex-basis: 68px;
  @include mq(small_tablet) {
    display: none;
  }
  .menu_wrapper {
  }
}

.menu_wrapper {
  background: $menu_wrapper_bg_color;
  position: relative;
  @include box(100%, 58px);
  @include flex(center, center);
  .fade {
    opacity: 0;
  }
}

.menu_bars {
  text-align: center;
  opacity: 1;
  transition: all 300ms ease-in-out;
  @include abs(13px, null, null, 16px, 1);
  span {
    display: block;
  }
  span.menu_bar {
    background: $menu_bar_bg_color;
    margin-bottom: 4px;
    @include margin_lr;
    @include box(34px, 2px);
  }
  span.menu_title {
    margin-top: 5px;
    @include type(
      (
        size: $menu_title_size,
        spacing: $menu_title_spacing,
        family: $primaryfont,
        color: $menu_title_color,
        weight: $menu_title_weight,
        align: center,
        transform: uppercase,
      )
    );
  }
}

.menu_close {
  position: relative;
  opacity: 1;
  transition: all 300ms ease-in-out;
  @include box(38px);
  @include abs(10px, null, null, 15px);
  span {
    display: block;
    background: $menu_close_bg_color;
    @include abs(16px, null, null, 3px);
    @include box(33px, 3px);
    &:first-of-type {
      transform: rotate(-45deg);
    }
    &:last-of-type {
      transform: rotate(45deg);
    }
  }
}

#header_bottom {
  width: 100%;
  padding: 10px 0;
  @include mq(small_tablet) {
    padding: 0;
    width: auto;
    flex-shrink: 0;
    flex-basis: 218px;
    @include flex(flex-end);
  }
  @include mq(small_laptop) {
    flex-basis: 160px;
  }
  @include mq(large_laptop) {
    flex-basis: 175px;
  }
  @include mq(small_monitor) {
    flex-basis: 205px;
  }
  .menu_wrapper {
    display: none;
    @include mq(small_tablet) {
      display: block;
      flex-basis: 68px;
    }
    @include mq(small_laptop) {
      display: none;
    }
  }
}

#cta_wrapper {
  @include flex(center, center);
  @include mq(small_tablet) {
    flex-direction: column;
    align-items: flex-end;
    margin-right: 10px;
  }
  @include mq(small_laptop) {
    margin-right: 20px;
  }
  @include mq(small_monitor) {
    margin-right: 28px;
  }
  span {
    position: relative;
    top: 1px;
    margin-bottom: 3px;
    @include type(
      (
        size: $cta_wrapper_size,
        spacing: $cta_wrapper_spacing,
        family: $primaryfont,
        color: $cta_wrapper_color,
        weight: $cta_wrapper_weight,
      )
    );
    @include mq(large_laptop) {
      font-size: $cta_wrapper_size_large_laptop;
    }
    @include mq(small_monitor) {
      font-size: $cta_wrapper_size_small_monitor;
    }
  }
  a {
    margin-left: 6px;
    @include type(
      (
        size: $cta_wrapper_phone_size,
        family: $primaryfont,
        color: $cta_wrapper_phone_color,
        weight: $cta_wrapper_phone_weight,
      )
    );
    @include mq(large_laptop) {
      font-size: $cta_wrapper_phone_size_large_laptop;
    }
    @include mq(small_monitor) {
      font-size: $cta_wrapper_phone_size_small_monitor;
    }
  }
}
