header {
  width: 100%;
  background: #fff;
  @include fixed(0, null, null, 0, 1);
}

#header_top {
  @include flex(space-between);
}

#header_left {
  padding: 8px 0 3px 20px;
  flex-grow: 1;
  border-bottom: 1px solid $color_light_five;
  a {
    display: block;
    img {
      width: 185px;
    }
  }
}

#header_middle {
  width: 100%;
  height: 100vh;
  display: none;
  background: $color_light_one;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  @include fixed(58px, null, null, 0, 1);
}

#header_right {
  flex-basis: 68px;
}

#menu_wrapper {
  background: $color_bright_two;
  position: relative;
  @include box(100%, 58px);
  @include flex(center, center);
  .fade {
    opacity: 0;
  }
}

#menu_bars {
  text-align: center;
  opacity: 1;
  transition: all 300ms ease-in-out;
  @include abs(13px, null, null, 16px, 1);
  span {
    display: block;
  }
  span.menu_bar {
    background: #fff;
    margin-bottom: 4px;
    @include margin_lr;
    @include box(34px, 2px);
  }
  span#menu_title {
    margin-top: 5px;
    @include type(
      (
        size: 11px,
        spacing: 1.1px,
        family: $primaryfont,
        color: $color_light_one,
        weight: 800,
        align: center,
        transform: uppercase,
      )
    );
  }
}

#menu_close {
  position: relative;
  opacity: 1;
  transition: all 300ms ease-in-out;
  @include box(38px);
  @include abs(10px, null, null, 15px);
  span {
    display: block;
    background: $color_light_one;
    @include abs(16px, null, null, 3px);
    @include box(33px, 3px);
    &:first-of-type {
      transform: rotate(-45deg);
    }
    &:last-of-type {
      transform: rotate(45deg);
    }
  }
}

#header_bottom {
  width: 100%;
  padding: 10px 0;
}

#cta_wrapper {
  @include flex(center, center);
  span {
    position: relative;
    top: 1px;
    @include type(
      (
        size: 12px,
        spacing: 0.6px,
        family: $primaryfont,
        color: $color_bright_two,
        weight: 800,
      )
    );
  }
  a {
    margin-left: 6px;
    @include type(
      (
        size: 18px,
        family: $primaryfont,
        color: $color_dark_one,
        weight: 700,
      )
    );
  }
}
