////////////////////////////////////////////////////////////////////
// Header
////////////////////////////////////////////////////////////////////

// header

$header_bg_color: $color_light_one;

// #header_middle

$header_middle_bg_color: $color_light_one;

$header_middle_border_color: $color_light_five;

// .menu_wrapper

$menu_wrapper_bg_color: $color_bright_two;

// span.menu_bar

$menu_bar_bg_color: $color_light_one;

// span.menu_title

$menu_title_size: 11px;

$menu_title_spacing: 1.1px;

$menu_title_color: $color_light_one;

$menu_title_weight: 800;

// .menu_close span

$menu_close_bg_color: $color_light_one;

// #cta_wrapper span

$cta_wrapper_size: 12px;
$cta_wrapper_size_large_laptop: 13px;
$cta_wrapper_size_small_monitor: 15px;

$cta_wrapper_spacing: 0.6px;

$cta_wrapper_color: $color_bright_two;

$cta_wrapper_weight: 800;

// #cta_wrapper a

$cta_wrapper_phone_size: 18px;
$cta_wrapper_phone_size_large_laptop: 20px;
$cta_wrapper_phone_size_small_monitor: 23px;

$cta_wrapper_phone_color: $color_dark_one;

$cta_wrapper_phone_weight: 700;
