.pa_directory_page_wrapper {
  margin-bottom: -50px;
  @include mq(small_laptop) {
    max-width: 915px;
    margin-bottom: -15px;
    @include margin_lr;
  }
  @include mq(large_laptop) {
    max-width: 1115px;
  }
}

ul.pa_directory_top_menu {
  li {
    list-style: none;

    a {
      display: block;
    }
  }
  > li {
    margin-bottom: 30px;
    @include type(
      (
        size: 15px,
        height: 17px,
        spacing: 2px,
        family: $primaryfont,
        weight: 800,
        transform: uppercase,
      )
    );
    @include mq(small_laptop) {
      margin-top: 36px;
    }
    > a {
      padding-bottom: 10px;
      border-bottom: 4px solid $color_bright_two;
      transition: all 200ms ease-in-out;
      &:hover {
      }
    }
  }
  div {
    margin-top: 20px;
    ul {
      li {
        @include type(
          (
            size: 16px,
            spacing: 0.4px,
            family: $primaryfont,
            weight: 600,
            transform: capitalize,
          )
        );
        &:last-of-type {
          a {
            border: none;
          }
        }
        &:nth-last-of-type(-n + 2) {
          a {
            @include mq(small_tablet) {
              border: none;
            }
          }
        }
        &:nth-last-of-type(-n + 3) {
          a {
            @include mq(tablet) {
              border: none;
            }
          }
        }
        &:nth-last-of-type(-n + 4) {
          a {
          }
        }
        a {
          padding: 15px 0;
          color: $color_dark_one;
          text-decoration: none;
          border-bottom: 2px solid $color_light_eleven;
          transition: all 200ms ease-in-out;
          &:hover {
            color: $color_bright_two;
          }
        }
      }
    }
  }
}
