.pa_directory_page_wrapper {
  margin-bottom: -50px;
  @include mq(small_laptop) {
    max-width: 915px;
    margin-bottom: -15px;
    @include margin_lr;
  }
  @include mq(large_laptop) {
    max-width: 1115px;
  }
  @include mq(small_monitor) {
    margin-bottom: -50px;
  }
}

h1.pa_title {
  padding-bottom: 30px;
  @include mq(large_laptop) {
    padding-bottom: 40px;
  }
}

ul.pa_directory_top_menu {
  li {
    list-style: none;

    a {
      display: block;
    }
  }
  > li {
    margin-bottom: 30px;
    @include type(
      (
        size: 15px,
        height: 17px,
        spacing: 2px,
        family: $primaryfont,
        weight: 800,
        transform: uppercase,
      )
    );
    @include mq(small_laptop) {
      margin-bottom: 36px;
    }
    @include mq(small_monitor) {
      margin-bottom: 62px;
    }
    > a {
      padding-bottom: 10px;
      border-bottom: 4px solid $color_bright_two;
      transition: all 200ms ease-in-out;
      &:hover {
      }
    }
  }
  div {
    margin-top: 16px;
    ul {
      @include mq(tablet) {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-auto-rows: auto;
        grid-gap: 0px 30px;
      }
      @include mq(large_laptop) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
      }
      @include mq(small_monitor) {
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-gap: 0px 40px;
      }
      li {
        border-bottom: 2px solid $color_light_eleven;
        @include type(
          (
            size: 15px,
            spacing: 0.4px,
            family: $primaryfont,
            weight: 600,
            transform: capitalize,
          )
        );
        @include mq(small_monitor) {
          margin-bottom: 10px;
        }
        &:last-of-type {
          border: none;
        }
        &:nth-last-of-type(-n + 2) {
          @include mq(tablet) {
            border: none;
          }
        }
        &:nth-last-of-type(-n + 3) {
          @include mq(large_laptop) {
            border: none;
          }
        }
        &:nth-last-of-type(-n + 4) {
          @include mq(small_monitor) {
            border: none;
          }
        }
        a {
          padding: 15px 0;
          color: $color_dark_one;
          text-decoration: none;

          transition: all 200ms ease-in-out;
          &:hover {
            color: $color_bright_two;
          }
        }
      }
    }
  }
}
