////////////////////////////////////////////////////////////////////
// PA Directory Page
////////////////////////////////////////////////////////////////////

// ul.pa_directory_top_menu li

$pa_directory_title_size: 15px;

$pa_directory_title_height: 17px;

$pa_directory_title_spacing: 2px;

$pa_directory_title_weight: 800;

$pa_directory_border: $color_bright_two;

// ul.pa_directory_top_menu div ul li

$pa_directory_list_border_color: $color_light_eleven;

$pa_directory_list_size: 15px;

$pa_directory_list_spacing: 0.4px;

$pa_directory_list_weight: 600;

$pa_directory_list_color: $color_dark_one;
$pa_directory_list_color_hover: $color_bright_two;
