// navigation - refer to the resize functions in js->custom-min.js

nav {
  padding: 40px 42px;
  @include mq(small_laptop) {
    padding: 0;
  }
  ul {
    list-style: none;
    li {
      @include type(
        (
          size: 16px,
          height: 20px,
          spacing: 0.75px,
          family: $primaryfont,
          color: $color_dark_one,
          weight: 700,
        )
      );
      @include mq(small_laptop) {
        @include quick_type(14px, 16px, null);
      }
      @include mq(large_laptop) {
        @include quick_type(15px, 17px, null);
      }
      a {
        display: block;
        text-decoration: none;
        color: $color_dark_one;
        padding-bottom: 23px;
        @include mq(small_tablet) {
          padding-bottom: 26px;
        }
        @include mq(small_laptop) {
          padding: 0px;
        }
      }
    }
  }
}

nav {
  ul.menu {
    padding-bottom: 50px;
    @include mq(small_laptop) {
      padding: 0;
      @include flex();
    }
    > li {
      margin: 0 25px;
      position: relative;
      @include mq(small_laptop) {
        padding-bottom: 25px;
      }
      @include mq(large_laptop) {
        padding-bottom: 19px;
      }
      @include mq(small_monitor) {
        margin: 0 40px;
        padding-bottom: 27px;
      }
    }
    > li.menu-item-has-children {
      &:hover {
        > ul.sub-menu {
          opacity: 1;
        }
      }
      > a {
        transition: all 200ms ease-in-out;
        &.active {
          color: $color_bright_two;
        }
        &:after {
          background-image: url(#{$themepath}/images/arrow.svg);
          background-size: 12px 9px;
          margin-left: 10px;
          @include box(12px, 9px);
          @include contentdisplay(inline-block);
          @include mq(small_laptop) {
            background-size: 10px 8px;
            margin-left: 6px;
            @include box(10px, 8px);
          }
        }
      }
    }
    > li.current-menu-ancestor {
      > a {
        color: $color_bright_two;
      }
    }
  }
}

nav {
  ul.sub-menu {
    display: none;
    @include mq(small_laptop) {
      display: block !important;
      background: $color_light_one;
      width: 258px;
      box-shadow: 0px 3px 5px #00000029;
      opacity: 0;
      transition: all 200ms ease-in-out;
      @include abs(40px, null, null, -25px);
    }
    @include mq(large_laptop) {
      top: 35px;
      @include mq(small_monitor) {
        top: 44px;
      }
    }
    li {
      a {
        @include mq(small_laptop) {
          padding: 14px 26px;
          transition: all 200ms ease-in-out;
        }
        &:hover {
          @include mq(small_laptop) {
            background: $color_light_two;
            color: $color_bright_two;
          }
        }
      }
    }
    li.current-menu-item {
      a {
        color: $color_bright_two;
      }
    }
  }
}
