#section_five {
  padding: 40px 30px 20px;
  @include mq(small_tablet) {
    padding: 76px 75px 47px;
  }
  @include mq(small_laptop) {
    padding: 84px 75px 90px;
  }
  @include mq(large_laptop) {
    padding: 80px 75px 80px;
  }
  @include mq(small_monitor) {
    padding: 117px 75px 130px;
  }
}

#sec_five_inner {
  max-width: 930px;
  @include margin_lr;
  @include mq(large_laptop) {
    max-width: 995px;
  }
  @include mq(small_monitor) {
    max-width: 1265px;
  }
}

#sec_five_intro {
  @include mq(small_laptop) {
    max-width: 582px;
  }
  @include mq(large_laptop) {
    max-width: 654px;
  }
  @include mq(small_monitor) {
    max-width: 725px;
  }
  &:before {
    background: $color_bright_one;
    margin-bottom: 17px;
    @include box(100%, 6px);
    @include contentdisplay();
    @include mq(small_laptop) {
      margin-bottom: 23px;
    }
    @include mq(large_laptop) {
      margin-bottom: 35px;
    }
    @include mq(small_monitor) {
      margin-bottom: 18px;
    }
  }
  p {
    @include type(
      (
        size: 22px,
        height: 28px,
        family: $secondaryfont,
        weight: 700,
      )
    );
    @include mq(small_tablet) {
      @include quick_type(26px, 34px, null);
    }
    @include mq(small_laptop) {
      @include quick_type(28px, 36px, null);
    }
    @include mq(large_laptop) {
      @include quick_type(32px, 42px, null);
    }
    @include mq(small_monitor) {
      @include quick_type(35px, 50px, null);
    }
  }
}

#sec_five_content {
  margin-top: 32px;
  @include mq(small_laptop) {
    margin-top: 51px;
    @include flex(space-between);
  }
  @include mq(small_monitor) {
    margin-top: 43px;
    padding-left: 130px;
  }
  .sec_five_col {
    flex-basis: 47%;
    @include mq(large_laptop) {
      flex-basis: 46%;
    }
  }
}
