////////////////////////////////////////////////////////////////////
// Section Seven
////////////////////////////////////////////////////////////////////

// #section_seven .subtitle span

$section_seven_subtitle_spacing_small_tablet: 2.4px;
$section_seven_subtitle_spacing_small_laptop: 3.2px;
$section_seven_subtitle_spacing_large_laptop: 4px;
$section_seven_subtitle_spacing_small_monitor: 5px;
