body.page-template-template-bio {
  #page_wrapper {
    margin-top: -234px;
    padding: 0 30px 27px;
    @include mq(small_tablet) {
      margin-top: -297px;
      padding: 0 75px 27px;
    }
    @include mq(small_laptop) {
      margin-top: 0;
      padding: 0 75px 75px;
    }
    @include mq(small_monitor) {
      max-width: 1520px;
      @include margin_lr;
    }
  }
  #page_content {
    padding: 0;
    @include mq(small_laptop) {
      padding: 0px 0px 18px 88px;
    }
    @include mq(small_monitor) {
      padding: 0px 0px 18px 94px;
    }
  }
  #page_content_inner {
    @include mq(small_tablet) {
      margin-top: 55px;
    }
    @include mq(small_laptop) {
    }
    @include mq(large_laptop) {
      margin-top: 40px;
    }
    @include mq(small_monitor) {
      max-width: 715px;
      margin-top: 41px;
    }
  }
}

#att_banner {
  padding: 0 30px;
  height: 377px;
  background: $color_light_ten;
  @include mq(small_tablet) {
    height: 480px;
  }
  @include mq(small_laptop) {
    min-height: 203px;
    padding: 0 75px;
    height: auto;
  }
  @include mq(large_laptop) {
    min-height: 211px;
  }
  @include mq(small_monitor) {
    min-height: 238px;
  }
}

#att_banner_content {
  text-align: center;
  padding: 23px 0 18px;
  max-width: 450px;
  @include margin_lr;
  @include mq(small_tablet) {
    padding: 43px 0 18px;
  }
  @include mq(small_laptop) {
    max-width: 100%;
    @include flex();
  }
  @include mq(large_laptop) {
    padding: 45px 0 18px;
  }
  @include mq(small_monitor) {
    padding: 63px 0 18px;
    max-width: 1370px;
  }
}

#att_banner_left {
  @include mq(small_laptop) {
    flex-basis: 336px;
    flex-shrink: 0;
  }
  @include mq(large_laptop) {
    flex-basis: 355px;
  }
}

#att_banner_right {
  @include mq(small_laptop) {
    flex-grow: 1;
    padding-left: 88px;
  }
  @include mq(small_monitor) {
    padding-left: 94px;
    max-width: 830px;
  }
}

h1.att_title {
  padding-bottom: 20px;
  @include type(
    (
      size: 30px,
      height: 32px,
      family: $secondaryfont,
      weight: 600,
    )
  );
  @include mq(small_tablet) {
    @include quick_type(34px, 36px, null);
  }
  @include mq(large_laptop) {
    @include quick_type(38px, 40px, null);
  }
  @include mq(small_monitor) {
    padding-bottom: 26px;
    @include quick_type(45px, 40px, null);
  }
}

.att_subtitle {
  &:before,
  &:after {
    width: 100%;
    background: $color_bright_two;
    @include contentdisplay();
  }
  &:before {
    height: 4px;
    @include mq(small_tablet) {
      height: 4px;
    }
    @include mq(small_monitor) {
      height: 6px;
    }
  }
  &:after {
    height: 2px;
    @include mq(small_tablet) {
      height: 2px;
    }
    @include mq(small_monitor) {
      height: 3px;
    }
  }
  span {
    display: block;
    padding: 15px 0 14px;
    @include type(
      (
        size: 12px,
        height: 15px,
        spacing: 1.8px,
        weight: 800,
        family: $primaryfont,
        transform: uppercase,
        align: center,
      )
    );
    @include mq(small_tablet) {
      padding: 17px 0 16px;
      @include quick_type(14px, 16px, 3.5px);
    }
    @include mq(large_laptop) {
      padding: 21px 0 19px;
      @include quick_type(15px, 17px, null);
    }
    @include mq(small_monitor) {
      padding: 23px 0 20px;
      @include quick_type(16px, 18px, null);
    }
  }
}

#sidebar_bio_wrapper {
  max-width: 450px;
  @include margin_lr;
  @include mq(small_tablet) {
    flex-basis: 336px;
    flex-shrink: 0;
  }
  @include mq(small_laptop) {
    margin-top: -160px;
    box-shadow: 5px 5px 20px #00000029;
  }
  @include mq(large_laptop) {
    flex-basis: 355px;
    margin-top: -181px;
  }
  @include mq(small_monitor) {
    margin-top: -172px;
    flex-basis: 368px;
  }
}

#att_bio_img {
  img {
    @include image();
  }
}

#att_accolades_wrapper {
  position: relative;
  z-index: 1;
}

#att_view_accolades {
  background: $color_light_one;
  box-shadow: 5px 5px 20px #00000029;
  padding: 18px 20px;
  @include mq(small_tablet) {
    padding: 18px 27px;
  }
  @include mq(small_laptop) {
    display: none;
  }
  span {
    @include flex(space-between, center);
    @include type(
      (
        size: 12px,
        height: 14px,
        spacing: 1.8px,
        family: $primaryfont,
        weight: 800,
        transform: uppercase,
      )
    );
    &:after {
      background-image: url(#{$themepath}/images/arrow.svg);
      background-size: 13px 9px;
      @include box(13px, 9px);
      @include contentdisplay(block);
    }
  }
}

.sidebar_bio {
  width: 100%;
  display: none;
  background: $color_light_one;
  padding: 28px 20px 15px;
  box-shadow: 5px 5px 20px #00000029;
  @include abs(50px, null, null, 0, -1);
  @include mq(small_tablet) {
    padding: 28px 45px 15px;
  }
  @include mq(small_laptop) {
    padding: 38px 35px 20px;
    display: block !important;
    position: static;
    box-shadow: none;
  }
}

.sidebar_bio_list {
  margin-bottom: 40px;
  @include mq(small_laptop) {
    margin-bottom: 28px;
  }
  @include mq(large_laptop) {
    margin-bottom: 41px;
  }
  &:last-of-type {
    margin-bottom: 0;
  }
  h3 {
    margin-bottom: 7px;
    @include type(
      (
        size: 12px,
        height: 14px,
        spacing: 1.8px,
        family: $primaryfont,
        weight: 800,
        transform: uppercase,
      )
    );
    @include mq(small_monitor) {
      @include quick_type(13px, 15px, null);
    }
  }
  ul {
    list-style: none;
  }
  > ul {
    > li {
      margin-bottom: 13px;
      padding-left: 12px;
      position: relative;
      @include type(
        (
          size: 14px,
          height: 18px,
          family: $thirdfont,
        )
      );
      @include mq(small_monitor) {
        margin-bottom: 22px;
        @include quick_type(16px, 20px, null);
      }
      &:after {
        border-radius: 50%;
        background: $color_bright_two;
        @include abs(8px, null, null, 0);
        @include box(3px);
        @include contentdisplay();
        @include mq(small_monitor) {
          @include box(4px);
        }
      }
      ul {
        li {
          margin-top: 5px;
        }
      }
    }
  }
}

#att_intro {
  @include quick_type(16px, 28px, null);
  @include mq(large_laptop) {
    @include quick_type(18px, 30px, null);
  }
}

.placeholder {
  position: relative;
  .placeholder_inner {
    background: $color_bright_three;
    @include box(100%);
    @include abs(0, null, null, 0);
    @include flex(center, center);
    &:after {
      @include contentdisplay(block, "Profile Coming Soon");
      @include type(
        (
          size: 14px,
          family: $primaryfont,
          color: $color_light_one,
          spacing: 1.5px,
          weight: 700,
          transform: uppercase,
        )
      );
      @include mq(small_tablet) {
        font-size: 16px;
      }
    }
  }
}
