body.page-template-template-bio {
  #page_wrapper {
    margin-top: -211px;
    padding: 0 30px 27px;
    @include mq(small_tablet) {
      margin-top: -297px;
      padding: 0 75px 27px;
    }
    @include mq(small_laptop) {
      margin-top: 0;
      padding: 0 75px 75px;
    }
    @include mq(small_monitor) {
      max-width: 1520px;
      @include margin_lr;
    }
  }
  #page_content {
    padding: 0;
    @include mq(small_laptop) {
      padding: 0px 0px 18px 88px;
    }
    @include mq(small_monitor) {
      padding: 0px 0px 18px 94px;
    }
  }
  #page_content_inner {
    @include mq(small_tablet) {
      margin-top: 55px;
    }
    @include mq(small_laptop) {
    }
    @include mq(large_laptop) {
      margin-top: 40px;
    }
    @include mq(small_monitor) {
      max-width: 715px;
      margin-top: 41px;
    }
  }
}

#att_banner {
  padding: 0 30px;
  height: 377px;
  background: $color_light_ten;
  @include mq(small_tablet) {
    height: 480px;
  }
  @include mq(small_laptop) {
    min-height: 203px;
    padding: 0 75px;
    height: auto;
  }
  @include mq(large_laptop) {
    min-height: 211px;
  }
  @include mq(small_monitor) {
    min-height: 238px;
  }
}

#att_banner_content {
  text-align: center;
  padding: 40px 0 18px;
  max-width: 450px;
  @include margin_lr;
  @include mq(small_tablet) {
    padding: 43px 0 18px;
  }
  @include mq(small_laptop) {
    max-width: 100%;
    @include flex();
  }
  @include mq(large_laptop) {
    padding: 45px 0 18px;
  }
  @include mq(small_monitor) {
    padding: 63px 0 18px;
    max-width: 1370px;
  }
}

#att_banner_left {
  @include mq(small_laptop) {
    flex-basis: 336px;
    flex-shrink: 0;
  }
  @include mq(large_laptop) {
    flex-basis: 355px;
  }
}

#att_banner_right {
  @include mq(small_laptop) {
    flex-grow: 1;
    padding-left: 88px;
  }
  @include mq(small_monitor) {
    padding-left: 94px;
    max-width: 830px;
  }
}

h1.att_title {
  padding-bottom: 20px;
  @include type(
    (
      size: $att_title_size,
      height: $att_title_height,
      family: $secondaryfont,
      weight: $att_title_weight,
    )
  );
  @include mq(small_tablet) {
    @include quick_type(
      $att_title_size_small_tablet,
      $att_title_height_small_tablet,
      null
    );
  }
  @include mq(large_laptop) {
    @include quick_type(
      $att_title_size_large_laptop,
      $att_title_height_large_laptop,
      null
    );
  }
  @include mq(small_monitor) {
    padding-bottom: 26px;
    @include quick_type($att_title_size_small_monitor, null, null);
  }
}

.att_subtitle {
  &:before,
  &:after {
    width: 100%;
    background: $att_subtitle_bg_color;
    @include contentdisplay();
  }
  &:before {
    height: 4px;
    @include mq(small_tablet) {
      height: 4px;
    }
    @include mq(small_monitor) {
      height: 6px;
    }
  }
  &:after {
    height: 2px;
    @include mq(small_tablet) {
      height: 2px;
    }
    @include mq(small_monitor) {
      height: 3px;
    }
  }
  span {
    display: block;
    padding: 15px 0 14px;
    @include type(
      (
        size: $att_subtitle_size,
        height: $att_subtitle_height,
        spacing: $att_subtitle_spacing,
        weight: $att_subtitle_weight,
        family: $primaryfont,
        transform: uppercase,
        align: center,
      )
    );
    @include mq(small_tablet) {
      padding: 17px 0 16px;
      @include quick_type(
        $att_subtitle_size_small_tablet,
        $att_subtitle_height_small_tablet,
        $att_subtitle_spacing_small_tablet
      );
    }
    @include mq(large_laptop) {
      padding: 21px 0 19px;
      @include quick_type(
        $att_subtitle_size_large_laptop,
        $att_subtitle_height_large_laptop,
        null
      );
    }
    @include mq(small_monitor) {
      padding: 23px 0 20px;
      @include quick_type(
        $att_subtitle_size_small_monitor,
        $att_subtitle_height_small_monitor,
        null
      );
    }
  }
}

#sidebar_bio_wrapper {
  max-width: 450px;
  @include margin_lr;
  @include mq(small_tablet) {
    flex-basis: 336px;
    flex-shrink: 0;
  }
  @include mq(small_laptop) {
    margin-top: -160px;
    box-shadow: 5px 5px 20px #00000029;
  }
  @include mq(large_laptop) {
    flex-basis: 355px;
    margin-top: -181px;
  }
  @include mq(small_monitor) {
    margin-top: -172px;
    flex-basis: 368px;
  }
}

#att_bio_img {
  img {
    @include image();
  }
}

#att_accolades_wrapper {
  position: relative;
  z-index: 1;
}

#att_view_accolades {
  background: $att_view_accolades_bg_color;
  box-shadow: 5px 5px 20px #00000029;
  padding: 18px 20px;
  @include mq(small_tablet) {
    padding: 18px 27px;
  }
  @include mq(small_laptop) {
    display: none;
  }
  span {
    @include flex(space-between, center);
    @include type(
      (
        size: $att_view_accolades_size,
        height: $att_view_accolades_height,
        spacing: $att_view_accolades_spacing,
        family: $primaryfont,
        weight: $att_view_accolades_weight,
        transform: uppercase,
      )
    );
    &:after {
      background-image: url(#{$themepath}/images/arrow.svg);
      background-size: 13px 9px;
      @include box(13px, 9px);
      @include contentdisplay(block);
    }
  }
}

.sidebar_bio {
  width: 100%;
  display: none;
  background: $sidebar_bio_bg_color;
  padding: 28px 20px 15px;
  box-shadow: 5px 5px 20px #00000029;
  @include abs(50px, null, null, 0, -1);
  @include mq(small_tablet) {
    padding: 28px 45px 15px;
  }
  @include mq(small_laptop) {
    padding: 38px 35px 20px;
    display: block !important;
    position: static;
    box-shadow: none;
  }
}

.sidebar_bio_list {
  margin-bottom: 40px;
  @include mq(small_laptop) {
    margin-bottom: 28px;
  }
  @include mq(large_laptop) {
    margin-bottom: 41px;
  }
  &:last-of-type {
    margin-bottom: 0;
  }
  h3 {
    margin-bottom: 7px;
    @include type(
      (
        size: $sidebar_bio_list_h3_size,
        height: $sidebar_bio_list_h3_height,
        spacing: $sidebar_bio_list_h3_spacing,
        family: $primaryfont,
        weight: $sidebar_bio_list_h3_weight,
        transform: uppercase,
      )
    );
    @include mq(small_monitor) {
      @include quick_type(
        $sidebar_bio_list_h3_size_small_monitor,
        $sidebar_bio_list_h3_height_small_monitor,
        null
      );
    }
  }
  ul {
    list-style: none;
  }
  > ul {
    > li {
      margin-bottom: 13px;
      padding-left: 12px;
      position: relative;
      @include type(
        (
          size: $sidebar_bio_list_li_size,
          height: $sidebar_bio_list_li_height,
          family: $thirdfont,
        )
      );
      @include mq(small_monitor) {
        margin-bottom: 22px;
        @include quick_type(
          $sidebar_bio_list_li_size_small_monitor,
          $sidebar_bio_list_li_height_small_monitor,
          null
        );
      }
      &:after {
        border-radius: 50%;
        background: $sidebar_bio_list_bullet_bg_color;
        @include abs(8px, null, null, 0);
        @include box(3px);
        @include contentdisplay();
        @include mq(small_monitor) {
          @include box(4px);
        }
      }
      ul {
        li {
          margin-top: 5px;
        }
      }
    }
  }
}

#att_intro {
  @include quick_type(16px, 28px, null);
  @include mq(large_laptop) {
    @include quick_type(18px, 30px, null);
  }
}

.placeholder {
  position: relative;
  .placeholder_inner {
    background: $placeholder_inner_bg_color;
    @include box(100%);
    @include abs(0, null, null, 0);
    @include flex(center, center);
    &:after {
      @include contentdisplay(block, "Profile Coming Soon");
      @include type(
        (
          size: $placeholder_inner_size,
          family: $primaryfont,
          color: $placeholder_inner_color,
          spacing: $placeholder_inner_spacing,
          weight: $placeholder_inner_weight,
          transform: uppercase,
        )
      );
      @include mq(small_tablet) {
        font-size: $placeholder_inner_size_small_tablet;
      }
    }
  }
}
