////////////////////////////////////////////////////////////////////
// Colors
////////////////////////////////////////////////////////////////////

$color_light_one: #fff;
$color_light_two: #ececec;
$color_light_three: #989898;
$color_light_four: #707070;
$color_light_five: #d9d9d9;
$color_light_six: #afafaf;
$color_light_seven: #7e7e7e;
$color_light_eight: #f6f6f6;
$color_light_nine: #a2a2a2;
$color_light_ten: #f2f2f2;

$color_bright_one: #34c9fc;
$color_bright_two: #0e84f2;
$color_bright_three: #034eb8;

$color_dark_one: #111c30;
$color_dark_two: #000000;

$color_grad_one: linear-gradient(126deg, #0e84f2 10%, #02275c 100%);
