#section_four {
  position: relative;
  padding: 45px 30px 55px;
  @include mq(small_tablet) {
    padding: 55px 30px 0px;
  }
  @include mq(large_laptop) {
    padding: 73px 30px 0px;
  }
  @include mq(small_monitor) {
    padding: 83px 30px 0px;
  }
  &:after {
    background: $section_four_bg_color;
    @include abs(0, null, null, 0);
    @include box(100%);
    @include contentdisplay();
    @include mq(small_tablet) {
      @include box(100%, 84%);
    }
    @include mq(large_laptop) {
      @include box(calc(100% - 59px), 78%);
    }
    @include mq(small_monitor) {
      @include box(calc(100% - 158px), 85%);
    }
  }
}

#sec_four_inner {
  position: relative;
  z-index: 1;
  text-align: center;
  max-width: 485px;
  @include margin_lr;
  @include mq(small_tablet) {
    max-width: 518px;
  }
  @include mq(small_laptop) {
    max-width: 100%;
  }
}

span#sec_four_title {
  display: inline-block;
  @include type(
    (
      size: $sec_four_title_size,
      height: $sec_four_title_height,
      spacing: $sec_four_title_spacing,
      family: $primaryfont,
      weight: $sec_four_title_weight,
      align: center,
      transform: uppercase,
    )
  );
  @include mq(small_tablet) {
    @include quick_type(
      $sec_four_title_size_small_tablet,
      $sec_four_title_height_small_tablet,
      $sec_four_title_spacing_small_tablet
    );
  }
  @include mq(small_monitor) {
    @include quick_type(
      $sec_four_title_size_small_monitor,
      $sec_four_title_height_small_monitor,
      $sec_four_title_spacing_small_monitor
    );
  }
  br {
    @include mq(small_tablet) {
      display: none;
    }
  }
  &:after {
    margin-top: 5px;
    background: $sec_four_title_line_bg_color;
    @include box(100%, 4px);
    @include contentdisplay();
    @include mq(small_tablet) {
      margin-top: 8px;
    }
    @include mq(large_laptop) {
      margin-top: 4px;
    }
  }
}

#sec_four_att_wrapper {
  margin: 23px 0 0 0;
  box-shadow: 20px 20px 50px #00000029;
  @include mq(small_tablet) {
    margin: 43px 0 0 0;
  }
  @include mq(small_laptop) {
    max-width: 1030px;
    box-shadow: none;
    @include margin_lr;
    @include flex();
  }
  @include mq(large_laptop) {
    margin-top: 54px;
    max-width: 1212px;
  }
  @include mq(small_monitor) {
    max-width: 1265px;
  }
}

#sec_four_left {
  overflow: hidden;
  @include mq(small_laptop) {
    flex-basis: 730px;
    flex-shrink: 0;
  }
  @include mq(large_laptop) {
    flex-basis: 850px;
  }
  img {
    @include image();
    @include mq(small_tablet) {
      transform: scale(1.1);
      margin-top: 10px;
    }
    @include mq(small_laptop) {
      transform: scale(1);
      margin-top: 0px;
    }
  }
}

#sec_four_right {
  position: relative;
  z-index: 1;
  margin-top: -9px;
  @include mq(small_tablet) {
    margin-top: -33px;
  }
  @include mq(small_laptop) {
    flex-basis: 440px;
    flex-shrink: 0;
    margin-left: -136px;
    margin-top: 52px;
  }
  @include mq(large_laptop) {
    flex-basis: 488px;
    margin-top: 72px;
    margin-left: -167px;
  }
  @include mq(small_monitor) {
    flex-basis: 547px;
    margin-top: 56px;
    margin-left: -132px;
  }
  #sec_four_right_content {
    background: $sec_four_right_content_bg_color;
    padding: 27px 29px 39px;
    position: relative;
    @include mq(small_tablet) {
      padding: 36px 55px 39px;
    }
    @include mq(small_laptop) {
      padding: 80px 55px 59px;
      box-shadow: 20px 20px 50px #00000029;
    }
    @include mq(large_laptop) {
      padding: 72px 55px 59px;
    }
    @include mq(small_monitor) {
      padding: 79px 80px 81px;
    }
    #sec_four_right_content_inner {
      text-align: left;
      img {
        display: none;
        @include mq(small_laptop) {
          display: block;
          @include box(78px, 75px);
          @include abs(-27px, 43px, null, null);
        }
        @include mq(large_laptop) {
          @include abs(-27px, 17px, null, null);
        }
        @include mq(small_monitor) {
          @include abs(-38px, 46px, null, null);
        }
      }
      p {
        @include type(
          (
            size: $sec_four_right_content_size,
            height: $sec_four_right_content_height,
            family: $primaryfont,
            weight: $sec_four_right_content_weight,
          )
        );
        @include mq(small_tablet) {
          @include quick_type(
            $sec_four_right_content_size_small_tablet,
            $sec_four_right_content_height_small_tablet,
            null
          );
        }
        @include mq(small_laptop) {
          margin-bottom: 15px;
        }
        @include mq(large_laptop) {
          @include quick_type(
            $sec_four_right_content_size_large_laptop,
            $sec_four_right_content_height_large_laptop,
            null
          );
        }
        @include mq(small_monitor) {
          @include quick_type(
            $sec_four_right_content_size_small_monitor,
            $sec_four_right_content_height_small_monitor,
            null
          );
        }
        &:last-of-type {
          margin-bottom: 0;
        }
      }
      a.meet_att_button {
        display: inline-block;
        margin-top: 23px;
        width: 100%;
        max-width: 250px;
        padding: 9px 23px;
        text-decoration: none;
        color: $meet_att_button_color;
        @include mq(small_tablet) {
          margin-top: 18px;
        }
        @include mq(large_laptop) {
          margin-top: 37px;
        }
        @include mq(small_laptop) {
          margin-top: 20px;
        }
        &:hover {
          color: $meet_att_button_color_hover;
        }
      }
    }
  }
}
