.button {
  border: 2px solid $color_bright_three;
  padding: 17px 25px;
  transition: all 200ms ease-in-out;
  @include type(
    (
      size: 12px,
      spacing: 3px,
      family: $primaryfont,
      color: $color_bright_three,
      weight: 800,
      align: center,
      transform: uppercase,
    )
  );
  &:hover {
    background: $color_bright_three;
    color: $color_light_one;
  }
}
