.button {
  border: 2px solid $button_color_border;
  padding: 17px 25px;
  transition: all 200ms ease-in-out;
  @include type(
    (
      size: $button_size,
      spacing: $button_spacing,
      family: $primaryfont,
      color: $button_color,
      weight: $button_weight,
      align: center,
      transform: uppercase,
    )
  );
  @include mq(large_laptop) {
    font-size: $button_size_large_laptop;
    padding: 19px 23px 16px;
  }
  &:hover {
    background: $button_bg_color_hover;
    color: $color_bright_three;
  }
}

.button_two {
  display: inline-block;
  border: 1px solid $button_two_color_border;
  padding: 12px 20px;
  transition: all 200ms ease-in-out;
  @include type(
    (
      size: $button_two_size,
      height: $button_two_height,
      spacing: $button_two_spacing,
      color: $button_two_color,
      family: $primaryfont,
      weight: $button_two_weight,
      transform: uppercase,
    )
  );
  &:hover {
    border: 1px solid $button_two_color_border_hover;
    color: $button_two_color_hover;
  }
}

.button_three {
  display: inline-block;
  background: $button_three_bg_color;
  padding: 18px 30px;
  transition: all 200ms ease-in-out;
  @include type(
    (
      size: $button_three_size,
      height: $button_three_height,
      family: $primaryfont,
      color: $button_three_color,
      weight: $button_three_weight,
      spacing: $button_three_spacing,
      transform: uppercase,
    )
  );
  @include mq(small_tablet) {
    padding: 17px 35px;
  }
  @include mq(small_laptop) {
    font-size: $button_three_size_small_laptop;
  }
  @include mq(large_laptop) {
    padding: 24px 50px;
    @include quick_type(
      $button_three_size_large_laptop,
      $button_three_height_large_laptop,
      null
    );
  }
  @include mq(small_monitor) {
    padding: 20px 50px;
  }
  &:hover {
    background: $button_three_bg_color_hover;
  }
}
