.button {
  border: 2px solid $button_color_border;
  padding: 17px 25px;
  transition: all 200ms ease-in-out;
  @include type(
    (
      size: $button_size,
      spacing: $button_spacing,
      family: $primaryfont,
      color: $button_color,
      weight: $button_weight,
      align: center,
      transform: uppercase,
    )
  );
  @include mq(large_laptop) {
    font-size: $button_size_large_laptop;
    padding: 19px 23px 16px;
  }
  &:hover {
    background: $button_color_bg_hover;
    color: $color_bright_three;
  }
}

.button_two {
  display: inline-block;
  border: 1px solid $button_two_color_border;
  padding: 12px 20px;
  transition: all 200ms ease-in-out;
  @include type(
    (
      size: 12px,
      height: 14px,
      spacing: 2.7px,
      color: $color_dark_one,
      family: $primaryfont,
      weight: 800,
      transform: uppercase,
    )
  );
  &:hover {
    border: 1px solid $color_bright_two;
    color: $color_bright_two;
  }
}

.button_three {
  display: inline-block;
  background: $color_bright_two;
  padding: 18px 30px;
  transition: all 200ms ease-in-out;
  @include type(
    (
      size: 12px,
      height: 16px,
      family: $primaryfont,
      color: $color_light_one,
      weight: 800,
      spacing: 4px,
      transform: uppercase,
    )
  );
  @include mq(small_tablet) {
    padding: 17px 35px;
  }
  @include mq(small_laptop) {
    font-size: 14px;
  }
  @include mq(large_laptop) {
    padding: 24px 50px;
    @include quick_type(16px, 18px, null);
  }
  @include mq(small_monitor) {
    padding: 20px 50px;
  }
  &:hover {
    background: $color_bright_three;
  }
}
