////////////////////////////////////////////////////////////////////
// Buttons
////////////////////////////////////////////////////////////////////

// .button

$button_size: 12px;
$button_size_large_laptop: 13px;

$button_spacing: 3px;

$button_color: $color_bright_three;

$button_color_border: $color_bright_three;

$button_color_bg_hover: $color_bright_three;

$button_weight: 800;

// .button_two

$button_two_color_border: $color_light_twelve;
