@media screen and (min-width: 1199px) {
  // vars and mixins

  $transition: transform 1200ms cubic-bezier(0.17, 0.66, 0.34, 0.98),
    opacity 500ms linear;
  $transition_two: transform 1550ms cubic-bezier(0.17, 0.66, 0.34, 0.98);

  @mixin img_scale($scale) {
    transform: scale($scale, $scale);
    transition: $transition;
  }

  @mixin transform_opacity($transform: 0px) {
    transform: translateY($transform);
    opacity: 0;
    transition: $transition;
  }

  @mixin fire_transform_opacity($delay) {
    transform: translateY(0px);
    opacity: 1;
    transition-delay: $delay, $delay;
  }

  @mixin line_animation($direction) {
    transform: scale(0, 1);
    transform-origin: top $direction;
    transition: $transition_two;
  }

  @mixin fire_return_scale($scale, $delay: 0ms) {
    transform: scale($scale, $scale);
    transition-delay: $delay, $delay;
  }
  // homepage
  img#hero {
    @include img_scale(1.1);
  }
  body.ready {
    img#hero {
      @include img_scale(1);
      transition-delay: 300ms;
    }
  }
  span#sec_one_title {
    @include transform_opacity(-25px);
  }
  body.ready {
    span#sec_one_title {
      @include fire_transform_opacity(300ms);
    }
  }
  #sec_one_video_wrapper {
    @include transform_opacity(-25px);
  }
  body.ready {
    #sec_one_video_wrapper {
      @include fire_transform_opacity(700ms);
    }
  }
  #sec_one_bottom {
    @include transform_opacity(-25px);
  }
  body.ready {
    #sec_one_bottom {
      @include fire_transform_opacity(300ms);
    }
  }
  #sec_four_right {
    transform: translateY(40px);
    transition: all 800ms cubic-bezier(0.17, 0.66, 0.34, 0.98);
  }
  #section_four.visible {
    #sec_four_right {
      transform: translateY(0px);
    }
  }
  #sec_four_left {
    overflow: hidden;
    img {
      @include img_scale(1.1);
    }
  }
  #section_four.visible {
    #sec_four_left {
      overflow: hidden;
      img {
        @include img_scale(1);
      }
    }
  }
  #sec_six_image {
    overflow: hidden;
  }
  img#sec_six_bg {
    @include img_scale(1.1);
  }
  #section_six.visible {
    img#sec_six_bg {
      @include img_scale(1);
    }
  }
  span#sec_six_title {
    @include transform_opacity(-25px);
  }
  #section_six.visible {
    span#sec_six_title {
      @include fire_transform_opacity(300ms);
    }
  }
  img#footer_img {
  }
  #consultation.visible {
    img#footer_img {
      @include img_scale(1);
    }
  }
  // about page
  #about_top_content {
    transform: translateY(40px);
    transition: all 1000ms cubic-bezier(0.17, 0.66, 0.34, 0.98);
  }
  body.ready {
    #about_top_content {
      transform: translateY(0px);
      transition-delay: 200ms;
    }
  }
  #about_img_wrapper {
    overflow: hidden;
    img {
      @include img_scale(1.1);
    }
  }
  body.ready {
    #about_img_wrapper {
      overflow: hidden;
      img {
        @include img_scale(1);
        transition-delay: 200ms;
      }
    }
  }
  // att bio
  #att_bio_img {
    overflow: hidden;
    img.att_image {
      @include img_scale(1.1);
    }
  }
  body.ready {
    #att_bio_img {
      img.att_image {
        @include img_scale(1);
        transition-delay: 200ms;
      }
    }
  }
  // internal banners
  #internal_banner {
    overflow: hidden;
  }
  img#banner_hero {
    @include img_scale(1.15);
  }
  body.ready {
    img#banner_hero {
      @include img_scale(1);
      transition-delay: 200ms;
    }
  }
}
