#about_top {
  padding: 0 30px;
  position: relative;
  &:after {
    background: $color_light_ten;
    @include box(100%, calc(100% - 35px));
    @include abs(0, null, null, 0);
    @include contentdisplay();
  }
}

#about_top_inner {
  position: relative;
  z-index: 1;
  @include mq(small_tablet) {
    max-width: 520px;
    @include margin_lr;
  }
  @include mq(small_laptop) {
    max-width: 100%;
  }
}

#about_intro_wrapper {
  margin-top: 20px;
  box-shadow: 10px 10px 30px #00000029;
  @include mq(small_laptop) {
    margin-top: 29px;
    box-shadow: none;
    max-width: 1050px;
    @include margin_lr;
    @include flex(flex-end);
  }
  @include mq(large_laptop) {
    max-width: 1170px;
    margin-top: 36px;
  }
  @include mq(small_monitor) {
    max-width: 1263px;
  }
}

#about_img_wrapper {
  overflow: hidden;
  @include mq(small_laptop) {
    flex-basis: 603px;
    flex-shrink: 0;
    margin-right: -30px;
  }
  @include mq(large_laptop) {
    flex-basis: 733px;
    margin-right: -93px;
  }
  @include mq(small_monitor) {
    flex-basis: 812px;
    margin-right: -96px;
  }
  img#about_img {
    @include image();
  }
}

#about_top_content {
  @include mq(small_laptop) {
    flex-basis: 441px;
    flex-shrink: 0;
    margin-top: 46px;
    position: relative;
  }
  @include mq(large_laptop) {
    flex-basis: 507px;
    margin-top: 54px;
  }
  @include mq(small_monitor) {
    flex-basis: 547px;
  }
  img#about_icon {
    display: none;
    @include mq(small_laptop) {
      display: block;
      @include box(61px);
      @include abs(-33px, 33px, null, null);
    }
    @include mq(large_laptop) {
      @include box(70px);
      @include abs(-33px, 45px, null, null);
    }
    @include mq(small_monitor) {
      @include box(78px);
      @include abs(-40px, 40px, null, null);
    }
  }
}

#about_top_content_inner {
  background: $color_light_one;
  padding: 28px 28px 32px;
  @include type(
    (
      size: 15px,
      height: 22px,
      family: $primaryfont,
      weight: 700,
    )
  );
  @include mq(small_tablet) {
    padding: 33px 68px 47px;
    @include quick_type(16px, 28px, null);
  }
  @include mq(small_laptop) {
    padding: 63px 50px 57px;
    box-shadow: 10px 10px 30px #00000029;
  }
  @include mq(large_laptop) {
    padding: 75px 50px;
    @include quick_type(18px, 30px, null);
  }
  @include mq(small_monitor) {
    padding: 75px 81px;
    @include quick_type(20px, 34px, null);
  }
  p {
    margin-bottom: 15px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

h1.about_title {
  @include mq(small_monitor) {
    padding-top: 56px;
  }
}

.about_subtitle {
  max-width: 800px;
  @include margin_lr;
}

#about_bottom {
  padding: 33px 30px 20px;
  @include mq(small_tablet) {
    padding: 42px 75px 20px;
  }
  @include mq(small_laptop) {
    max-width: 950px;
    padding: 42px 75px 33px;
    @include margin_lr;
  }
  @include mq(large_laptop) {
    padding: 54px 75px 52px;
  }
  @include mq(small_monitor) {
    padding: 65px 95px 70px;
  }
}
