////////////////////////////////////////////////////////////////////
// About Page
////////////////////////////////////////////////////////////////////

// #about_top:after

$about_top_bg_color: $color_light_ten;

// #about_top_content_inner

$about_top_size: 15px;
$about_top_size_small_tablet: 16px;
$about_top_size_large_laptop: 18px;
$about_top_size_small_monitor: 20px;

$about_top_height: 22px;
$about_top_height_small_tablet: 28px;
$about_top_height_large_laptop: 30px;
$about_top_height_small_monitor: 34px;

$about_top_weight: 700;
