#sidebar_form {
  display: none;
}

.sidebar_box {
  background: $color_light_one;
  position: relative;
}

.sidebar_slide_title {
  padding: 18px 22px;
  box-shadow: 5px 5px 20px #00000029;
  position: relative;
  z-index: 1;
  span {
    display: block;
    @include flex(space-between, center);
    @include type(
      (
        size: 12px,
        height: 14px,
        spacing: 1.8px,
        family: $primaryfont,
        weight: 800,
        transform: uppercase,
      )
    );
    &:after {
      background-image: url(#{$themepath}/images/arrow.svg);
      background-size: 12px 9px;
      margin-left: 10px;
      @include box(12px, 9px);
      @include contentdisplay(inline-block);
    }
  }
}

.widget {
  display: none;
  width: 100%;
  background: $color_light_one;
  padding: 25px 32px 20px;
  box-shadow: 20px 20px 50px #00000029;
  @include abs(49px, null, null, 0);
  h3 {
    display: none;
  }
  ul {
    list-style: none;
    li {
      a {
        display: block;
        color: $color_dark_one;
        cursor: pointer;
        text-decoration: none;
        margin-bottom: 15px;
        transition: all 200ms ease-in-out;
        &:hover {
          color: $color_bright_two;
        }
      }
    }
  }
  ul.menu {
    > li {
      @include type(
        (
          size: 14px,
          height: 17px,
          family: $primaryfont,
          weight: 700,
        )
      );
      &.active {
        > a {
          color: $color_bright_two;
        }
      }
      > a {
      }
    }
    > li.menu-item-has-children {
      > a {
        &:after {
          background-image: url(#{$themepath}/images/arrow.svg);
          background-size: 10px 9px;
          margin-left: 14px;
          margin-top: 5px;
          vertical-align: top;
          @include box(10px, 9px);
          @include contentdisplay(inline-block);
        }
      }
    }
    > li.current-menu-ancestor {
      > a {
        color: $color_bright_two;
      }
    }
  }
  ul.sub-menu {
    display: none;
    li {
      font-weight: 400;
    }
    > li.current-menu-item {
      a {
        color: $color_bright_two;
      }
    }
  }
}
