#sidebar_wrapper {
  margin-top: 33px;
  @include mq(small_tablet) {
    order: 1;
    flex-basis: 364px;
    flex-shrink: 0;
  }
  @include mq(small_laptop) {
    margin-top: 0;
  }
  @include mq(small_monitor) {
    flex-basis: 500px;
  }
}

#sidebar_inner {
  position: relative;
  @include mq(small_laptop) {
    max-width: 100%;
    padding: 45px 30px 0;
    z-index: 1;
  }
  @include mq(large_laptop) {
    padding: 57px 38px 0;
  }
  @include mq(small_monitor) {
    padding: 69px 81px 0;
  }
  &:after {
    @include mq(small_laptop) {
      background: $color_light_ten;
      @include box(100%, calc(100% - 65px));
      @include abs(0, null, null, 0, -1);
      @include contentdisplay();
    }
  }
}

span#sidebar_form_title {
  display: inline-block;
  margin-bottom: 17px;
  @include type(
    (
      size: 14px,
      height: 16px,
      spacing: 1.68px,
      family: $primaryfont,
      color: $color_bright_two,
      weight: 800,
      transform: uppercase,
    )
  );
  @include mq(large_laptop) {
    margin-bottom: 21px;
  }
  @include mq(small_monitor) {
    margin-bottom: 28px;
    @include quick_type(16px, null, 2.88px);
  }
}

#sidebar_form {
  display: none;
  @include mq(small_laptop) {
    display: block;
    background: $color_light_one;
    padding: 43px 40px 35px;
    margin-bottom: 29px;
    box-shadow: 20px 20px 50px #00000029;
    text-align: center;
    position: relative;
    @include mq(large_laptop) {
      padding: 43px 30px 27px;
    }
    @include mq(small_monitor) {
      padding: 47px 30px 38px;
      margin-bottom: 40px;
    }
    img#sidebar_form_icon {
      @include box(48px);
      @include abs(-24px, 22px, null, null);
      @include mq(small_monitor) {
        @include box(51px);
      }
    }
    ul {
      list-style: none;
      li {
        width: 100%;
        text-align: left;
        margin-bottom: 8px;
        @include mq(large_laptop) {
          margin-bottom: 10px;
        }
        label {
          display: none;
        }
        input,
        textarea {
          width: 100%;
          border: 1px solid $color_light_twelve;
          padding: 14px 18px;
          @include type(
            (
              size: 13px,
              weight: 700,
              spacing: 0.65px,
              family: $primaryfont,
              color: $color_dark_one,
            )
          );
          @include mq(large_laptop) {
            font-size: 14px;
            padding: 12px 18px;
          }
          @include mq(small_monitor) {
            padding: 15px 29px;
          }
        }
        textarea {
          height: 143px;
          @include mq(large_laptop) {
            height: 130px;
          }
        }
      }
    }
    input[type="submit"] {
      border: none;
      width: 100%;
      padding: 17px 10px;
      background: $color_bright_two;
      cursor: pointer;
      transition: all 200ms ease-in-out;
      @include type(
        (
          size: 12px,
          family: $primaryfont,
          color: $color_light_one,
          weight: 800,
          spacing: 5px,
          transform: uppercase,
        )
      );
      @include mq(small_monitor) {
        padding: 19px 10px;
        font-size: 14px;
      }
      &:hover {
        background: $color_bright_three;
      }
    }
    .gfield_description,
    .validation_message {
      margin-top: 5px;
      @include type(
        (
          size: 11px,
          spacing: 1px,
          family: $primaryfont,
          color: $color_bright_two,
          weight: 800,
          transform: uppercase,
        )
      );
    }
    span#sidebar_form_required {
      display: block;
      margin-top: 18px;
      @include type(
        (
          size: 12px,
          family: $thirdfont,
          color: $color_light_seven,
          transform: lowercase,
        )
      );
      @include mq(large_laptop) {
        margin-top: 25px;
      }
      @include mq(small_monitor) {
        font-size: 14px;
      }
    }
  }
}

.sidebar_box {
  background: $color_light_one;
  position: relative;
}

.sidebar_slide_title {
  padding: 18px 22px;
  box-shadow: 5px 5px 20px #00000029;
  position: relative;
  z-index: 1;
  background: $color_light_one;
  max-width: 300px;
  @include mq(small_laptop) {
    display: none;
  }
  span {
    display: block;
    @include flex(space-between, center);
    @include type(
      (
        size: 12px,
        height: 14px,
        spacing: 1.8px,
        family: $primaryfont,
        weight: 800,
        transform: uppercase,
      )
    );
    &:after {
      background-image: url(#{$themepath}/images/arrow.svg);
      background-size: 12px 9px;
      margin-left: 10px;
      @include box(12px, 9px);
      @include contentdisplay(inline-block);
    }
  }
}

.widget {
  display: none;
  width: 100%;
  background: $color_light_one;
  padding: 25px 32px 20px;
  box-shadow: 20px 20px 50px #00000029;
  max-width: 300px;
  @include abs(49px, null, null, 0);
  @include mq(small_laptop) {
    display: block !important;
    position: static;
    max-width: 100%;
    padding: 39px 38px 25px;
  }
  h3 {
    display: none;
  }
  ul {
    list-style: none;
    li {
      a {
        display: block;
        color: $color_dark_one;
        cursor: pointer;
        text-decoration: none;
        margin-bottom: 15px;
        transition: all 200ms ease-in-out;
        @include mq(small_laptop) {
          margin-bottom: 9px;
        }
        @include mq(large_laptop) {
          margin-bottom: 13px;
        }
        @include mq(small_monitor) {
          margin-bottom: 17px;
        }
        &:hover {
          color: $color_bright_two;
        }
      }
    }
  }
  ul.menu {
    > li {
      @include type(
        (
          size: 14px,
          height: 17px,
          family: $primaryfont,
          weight: 700,
        )
      );
      @include mq(small_laptop) {
        font-size: 13px;
      }
      @include mq(large_laptop) {
        font-size: 14px;
      }
      @include mq(small_monitor) {
        font-size: 15px;
      }
      &.active {
        > a {
          color: $color_bright_two;
        }
      }
    }
    > li.menu-item-has-children {
      > a {
        &:after {
          background-image: url(#{$themepath}/images/arrow.svg);
          background-size: 10px 9px;
          margin-left: 14px;
          margin-top: 5px;
          vertical-align: top;
          @include box(10px, 9px);
          @include contentdisplay(inline-block);
        }
      }
    }
    > li.current-menu-ancestor {
      > a {
        color: $color_bright_two;
      }
    }
  }
  ul.sub-menu {
    display: none;
    li {
      font-weight: 400;
    }
    > li.current-menu-item {
      a {
        color: $color_bright_two;
      }
    }
  }
}
