body.error404 {
  #internal_banner {
    @include mq(small_tablet) {
      padding: 40px 55px 50px;
    }
  }
}

#page_wrapper {
  &.not_found_page_wrapper {
    @include mq(small_monitor) {
      padding-top: 45px;
    }
  }
}

#not_found_content {
  padding-bottom: 20px;
  max-width: 490px;
  text-align: center;
  @include margin_lr;
  @include mq(small_tablet) {
    max-width: 690px;
    padding-bottom: 35px;
    @include flex(center);
  }
  @include mq(small_laptop) {
    max-width: 815px;
    padding-bottom: 40px;
    @include flex(space-between);
  }
  @include mq(small_monitor) {
    padding-bottom: 55px;
    max-width: 763px;
  }
  &.content {
    @include mq(small_laptop) {
      @include quick_type(20px, 30px, null);
    }
  }
}

span.go_back {
  font-weight: 700;
  color: $color_dark_one;
  text-decoration: underline;
  transition: all 200ms ease-in-out;
  &:hover {
    color: $color_bright_two;
  }
}
