#section_two {
}

#sec_two_inner {
  @include mq(small_tablet) {
    @include flex();
  }
}

#sec_two_top {
  padding: 39px 32px 75px;
  background: $color_dark_one;
  min-height: 347px;
  @include mq(small_tablet) {
    width: 50%;
    flex-shrink: 0;
    min-height: 476px;
    @include flex(null, center);
  }
  @include mq(small_laptop) {
    width: 380px;
    position: relative;
  }
  @include mq(large_laptop) {
    width: 436px;
  }
  @include mq(small_monitor) {
    width: 472px;
  }
}

#sec_two_top_inner {
  width: 100%;
}

#sec_two_left_slider {
  max-width: 490px;
  @include margin_lr;
  @include mq(small_tablet) {
    max-width: 100%;
  }
  @include mq(tablet) {
    max-width: 375px;
  }
  @include mq(small_laptop) {
    max-width: 100%;
  }
  @include mq(large_laptop) {
    max-width: 305px;
  }
}

.sec_two_slide {
  color: $color_light_one;
  @include mq(small_tablet) {
    height: 100%;
  }
}

.sec_two_slide_profile_wrapper {
  padding-bottom: 23px;
  border-bottom: 1px solid $color_light_three;
  @include flex();
}

.sec_two_profile {
  flex-shrink: 0;
  img {
    border-radius: 50%;
    @include box(77px);
  }
}

.sec_two_profile_info {
  padding-left: 25px;
  padding-top: 5px;
  img {
  }
  span.sec_two_profile_two {
    display: block;
    padding-top: 12px;
    @include type(
      (
        size: 16px,
        height: 18px,
        spacing: 0,
        family: $primaryfont,
        weight: 700,
      )
    );
  }
}

.sec_two_slide_descrip {
  padding-top: 17px;
  @include mq(small_tablet) {
    padding-top: 28px;
  }
  span {
    display: block;
    @include type(
      (
        size: 20px,
        height: 25px,
        spacing: 0,
        family: $primaryfont,
      )
    );
    @include mq(small_tablet) {
      @include quick_type(22px, 29px, null);
    }
  }
}

span.sec_two_slide_type {
  display: block;
  margin-top: 23px;
  @include type(
    (
      size: 15px,
      height: 17px,
      spacing: 2.7px,
      family: $primaryfont,
      weight: 700,
      transform: uppercase,
    )
  );
  @include mq(small_tablet) {
    margin-top: 32px;
  }
}

#sec_two_top_arrows {
  display: none;
  @include mq(small_laptop) {
    @include flex();
    @include abs(null, 0, 0, null);
  }
}

.sec_two_arrow {
  background: $color_bright_one;
  transition: 200ms all ease-in-out;
  cursor: pointer;
  @include flex(center, center);
  @include box(52px, 34px);
  &:hover {
    background: $color_bright_four;
  }
  &:after {
    @include contentdisplay();
    @include tri(left, 6px, 6px, $color_light_one);
  }
}

.sec_two_arrow_right {
  &:after {
    transform: rotate(-180deg);
  }
}

#sec_two_bottom {
  text-align: center;
  padding: 36px 25px 42px;
  min-height: 400px;
  background: $color_light_two;
  @include mq(small_tablet) {
    width: 50%;
    min-height: 476px;
    padding: 36px 32px 28px;
  }
  @include mq(small_laptop) {
    width: calc(100% - 380px);
    padding: 36px 20px 58px;
  }
  @include mq(large_laptop) {
    padding: 48px 20px 58px;
    width: calc(100% - 436px);
  }
  @include mq(small_monitor) {
    padding: 48px 40px 58px;
    width: calc(100% - 472px);
  }
}

#sec_two_bottom_inner {
}

span#sec_two_featured_title {
  @include type(
    (
      size: 15px,
      height: 17px,
      spacing: 3px,
      family: $primaryfont,
      color: $color_dark_one,
      weight: 700,
      transform: uppercase,
    )
  );
  @include mq(small_tablet) {
    display: block;
    text-align: left;
    max-width: 375px;
    @include margin_lr;
  }
  @include mq(small_laptop) {
    max-width: 100%;
    margin: 0 60px;
  }
  @include mq(large_laptop) {
    margin: 0 89px;
  }
  @include mq(small_monitor) {
    margin: 0px 88px;
  }
  @include mq(large_monitor) {
    max-width: 1600px;
    padding-left: 90px;
    @include margin_lr;
  }
}

#sec_two_featured_slider_wrapper {
  max-width: 490px;
  @include margin_lr;
  @include flex(null, null, null, wrap);
  @include mq(small_tablet) {
    max-width: 100%;
  }
  @include mq(tablet) {
    max-width: 375px;
    @include margin_lr;
  }
  @include mq(small_laptop) {
    flex-wrap: inherit;
    max-width: 100%;
    align-items: center;
    margin-top: 35px;
  }
  @include mq(large_monitor) {
    max-width: 1600px;
    @include margin_lr;
  }
}

#sec_two_featured_slider {
  margin-top: 30px;
  width: 100%;
  order: 1;
  @include mq(small_tablet) {
    margin-top: 26px;
  }
  @include mq(tablet) {
    max-width: 375px;
    @include margin_lr;
  }
  @include mq(small_laptop) {
    order: 2;
    max-width: 100%;
    width: calc(100% - 118px);
    overflow: hidden;
    margin-top: 0;
  }
  @include mq(large_laptop) {
    width: calc(100% - 176px);
  }
  .slick-slide {
    margin: 0 10px;
    @include mq(large_laptop) {
      margin: 0 18px;
    }
    @include mq(small_monitor) {
      margin: 0 27px;
    }
  }
  .slick-list {
    margin: 0 -10px;
    @include mq(large_laptop) {
      margin: 0 -18px;
    }
    @include mq(small_monitor) {
      margin: 0 -27px;
    }
  }
}

.sec_two_featured_slide {
  &:hover {
    .button_two {
      border: 2px solid $color_bright_two;
      color: $color_light_one;
      background: $color_bright_two;
    }
    .sec_two_featured_image {
      img {
        transform: scale(1.2);
      }
    }
  }
  a {
    text-decoration: none;
  }
}

.sec_two_featured_image {
  position: relative;
  height: 118px;
  overflow: hidden;
  img {
    object-fit: cover;
    object-position: 50% 50%;
    transform: scale(1);
    transition: all 800ms cubic-bezier(0.17, 0.66, 0.34, 0.98);
    @include abs(0, null, null, 0);
    @include image();
    @include box(100%);
  }
}

.sec_two_featured_slide_content {
  background: $color_light_one;
  padding: 16px 22px 22px;
  @include mq(small_laptop) {
    padding: 18px 22px 22px;
    min-height: 205px;
    position: relative;
  }
  @include mq(large_laptop) {
    padding: 18px 31px 22px;
  }
}

span.sec_two_featured_slide_title {
  display: block;
  margin-bottom: 20px;
  @include type(
    (
      size: 25px,
      height: 27px,
      spacing: 0,
      family: $primaryfont,
      color: $color_dark_one,
      weight: 700,
    )
  );
  @include mq(small_laptop) {
    margin-bottom: 15px;
  }
}

.sec_two_featured_slide_descrip {
  display: block;
  @include type(
    (
      size: 15px,
      height: 20px,
      spacing: 0,
      family: $primaryfont,
      color: $color_light_four,
    )
  );

  p {
    margin-bottom: 10px;
  }
}

.learn_more_wrapper {
  @include mq(small_laptop) {
    width: 100%;
    @include abs(null, null, 23px, 0);
  }
}

.sec_two_featured_arrow {
  background: $color_dark_one;
  flex-basis: 50%;
  margin-top: 13px;
  cursor: pointer;
  @include box(100%, 34px);
  @include flex(center, center);
  display: flex !important;
  @include mq(tablet) {
    max-width: 187px;
  }
  @include mq(small_laptop) {
    flex-basis: 48px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 50%;
    background: $color_light_rgba;
    position: relative;
  }
  @include mq(large_laptop) {
    flex-basis: 60px;
    height: 60px;
  }
  &:before {
    @include mq(small_laptop) {
      background: $color_light_one;
      border-radius: 50%;
      @include contentdisplay();
      @include box(35px);
    }
    @include mq(large_laptop) {
      @include box(44px);
    }
  }
  &:after {
    @include contentdisplay();
    @include tri(left, 6px, 6px, $color_light_one);
    @include mq(small_laptop) {
      transition: all 200ms ease-in-out;
      @include abs(18px, null, null, 18px);
      @include tri(left, 7px, 8px, $color_dark_one);
    }
    @include mq(large_laptop) {
      @include abs(23px, null, null, 24px);
    }
  }
  &:hover {
    background: $color_dark_two;
    @include mq(small_laptop) {
      background: $color_light_rgba;
      &:after {
        @include tri(left, 7px, 8px, $color_bright_two);
      }
    }
  }
}

.sec_two_featured_arrow_left {
  order: 2;
  @include mq(small_laptop) {
    order: 1;
  }
}

.sec_two_featured_arrow_right {
  order: 3;
  &:after {
    transform: rotate(-180deg);
    @include mq(small_laptop) {
      left: 22px;
    }
    @include mq(large_laptop) {
      left: 27px;
    }
  }
}
