#internal_banner {
  position: relative;
  display: none;
  @include mq(small_tablet) {
    display: block;
    padding: 78px 20px;
  }
  @include mq(small_laptop) {
    padding: 61px 20px;
  }
  @include mq(large_laptop) {
    padding: 56px 20px;
  }
  @include mq(small_monitor) {
    padding: 95px 20px;
  }
}

#internal_banner_content {
  position: relative;
  z-index: 1;
  text-align: center;
}

span.banner_title {
  display: block;
  max-width: 780px;
  margin-bottom: 15px;
  @include margin_lr;
  @include type(
    (
      size: $banner_title_size,
      height: $banner_title_height,
      family: $secondaryfont,
      color: $banner_title_color,
      weight: $banner_title_weight,
    )
  );
  @include mq(small_tablet) {
    max-width: 467px;
    margin-bottom: 20px;
    @include quick_type(
      $banner_title_size_small_tablet,
      $banner_title_height_small_tablet,
      null
    );
  }
  @include mq(small_laptop) {
    max-width: 568px;
    @include quick_type(
      $banner_title_size_small_laptop,
      $banner_title_height_small_laptop,
      null
    );
  }
  @include mq(large_laptop) {
    max-width: 630px;
    @include quick_type(
      $banner_title_size_large_laptop,
      $banner_title_height_large_laptop,
      null
    );
  }
  @include mq(small_monitor) {
    @include quick_type(
      $banner_title_size_small_monitor,
      $banner_title_height_small_monitor,
      null
    );
  }
}

img#banner_hero {
  object-fit: cover;
  @include image();
  @include box(100%);
  @include abs(0, null, null, 0);
}
