////////////////////////////////////////////////////////////////////
// Internal Banner
////////////////////////////////////////////////////////////////////

// span.banner_title

$banner_title_size: 40px;
$banner_title_size_small_tablet: 35px;
$banner_title_size_small_laptop: 40px;
$banner_title_size_large_laptop: 45px;
$banner_title_size_small_monitor: 50px;

$banner_title_height: 45px;
$banner_title_height_small_tablet: 35px;
$banner_title_height_small_laptop: 45px;
$banner_title_height_large_laptop: 50px;
$banner_title_height_small_monitor: 55px;

$banner_title_color: $color_light_one;

$banner_title_weight: 700;
